{% extends "base/base.html" %}
{% load staticfiles %} {% block page_title %}
<title>Dispositivos creados en esta entrada </title>
{% endblock page_title %}
{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="box">
					<div class="box-header">
            <div class="box-title">
              <h3>Dispositivos Creados</h3>
            </div>
          </div>
					<div class="box-body">
					<table class="table table-striped table-hover table-bordered table-condensed" id="entrada-detalle">
							<thead>
                <th> Triage</th>
                <th> Tipo</th>
              </thead>
              <tbody>
                {%for dispositivo in dispositivo_qr%}
                <tr>
                  <td>
                  <a href="{{dispositivo.get_absolute_url}}">{{dispositivo}}</a>
                  </td>
                  <td>
                    {{dispositivo.tipo}}
                  </td>

                </tr>
                {%endfor%}
              </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
{% block extra_js %}
{% include "base/dataTables.html" %}
<script src="{% static "js/extrajs/beqt.js" %}"></script>
<script>
    $(document).ready(function(){
        var tabla = $('#entrada-detalle').DataTable({
          dom: 'Bfrtip',
          buttons: ['excel', 'pdf', 'copy'],
        });
    });    
</script>
{% endblock extra_js %}


