{% extends "base/base.html" %}
{% load staticfiles widget_tweaks %}
{% load inventario_extras %}
{% block page_title %}
    {% if form.instance.id %}
        <title>Entrada {{ form.instance.id }}</title>
    {% else %}
        <title>Entrada</title>
    {% endif %}
{% endblock page_title %}
{% block content %}
{% csrf_token %}
{%if form.instance.en_creacion%}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="box-header">
                        {% if form.instance.id %}
                            <h3 class="box-title">
                                INFORMACIÓN DE LA ENTRADA
                            </h3>
                        {% else %}
                            <h3 class="box-title">
                                <b>
                                    ENTRADAS EXISTENTES
                                </b>
                            </h3>
                        {% endif %}
                    </div>
                    <div class="box-body">
                        <table class="table table-condensed">
                            <tr>
                                <th>
                                    Número de entrada:
                                </th>
                                <td>
                                    {{ form.instance.id }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Tipo :
                                </th>
                                <td>
                                    {{ form.instance.tipo }}
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Proveedor:
                                </th>
                                <td>
                                    <a href="{{ form.instance.proveedor.get_absolute_url }}">
                                        {{ form.instance.proveedor }}
                                    </a>
                                </td>
                            </tr>
                            {%if form.instance.tipo.contable%}
                            <tr>
                                <th>
                                    Factura No.:
                                </th>
                                <td>
                                        {{ form.instance.factura }}

                                </td>
                            </tr>
                            {%endif%}
                            <tr>
                              <th>
                                Recibido por:
                              </th>
                              <td>
                                {{form.instance.recibida_por.get_full_name}}
                              </td>
                            </tr>
                            <tr>
                              <th>
                                Fecha:
                              </th>
                              <td>
                                {{form.instance.fecha}}
                              </td>
                            </tr>
                            <tr>
                              <th>
                                Observaciones:
                              </th>
                              <td>
                                {{form.instance.observaciones}}
                              </td>
                            </tr>
                            <tr>
                                <th>
                                  Proyecto
                                </th>
                                <td>
                                  {% for data in form.instance.proyecto.all  %}
                                    {{data}},<br>
                                  {% endfor %}
                                </td>
                              </tr>
                        </table>
                    </div>
                </div>
                <!--Fin de Entrada-->
                {% if request.user|has_group:"inv_bodega" or request.user|has_group:"inv_admin" %}
                <div class="box">
                    <div class="box-header">
                        <div class="box-title">
                            <h3 class="box-title">AGREGAR EQUIPO</h3>
                        </div>
                    </div>
                    <div class="box-body">
                        {% include "inventario/entrada/entradadetalle_add.html" %}
                    </div>
                </div>
                {%endif%}
                <!--Fin de la Informacion-->
                {% if request.user|has_group:"inv_bodega" or request.user|has_group:"inv_admin" %}
                <div class="box">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="box-title">EDITAR INFORMACIÓN</h3>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive">
                        <table class="table table-condensed">
                            <form id="entrada-detalle-form" action="{% url 'entrada_update' pk=form.instance.id %}" method="post" data-api="{% url 'inventario_api:api_detalles-cuadrar-salida'%}" data-key="{{form.instance.id}}" data-apiqr="{%url 'inventario_api:api_detalles-imprimir-qr'%}">
                                {% csrf_token %}
                                <table class="table table-condensed">
                                    {{ form.as_table }}
                                    <tr>
                                        <td>
                                            <input type="submit" class="btn btn-success" value="Guardar"/>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </table>
                    </div>
                </div>
                {%endif%}

            </div>
            <div class="col-md-9">
                <div class="box">
                    <div class="box-header">
                      <div class="row">
                          <div class="col-md-6">
                              <h3 class="box-title">Detalle del equipo</h3>
                          </div>
                          {% if request.user|has_group:"inv_bodega" or request.user|has_group:"inv_admin" %}
                          <div class="col-md-6">
                              <a href="{% url 'carta_agradecimiento' pk=object.id%}" class="btn btn-success" target="_blank">Carta Agradecimiento</a>
                              <a href="{% url 'reporte_sucio' pk=object.id%}" class="btn btn-primary" target="_blank">Constancia Útil</a>
                              <a href="{% url 'constancia_entrada' pk=object.id%}" class="btn btn-danger" target="_blank">Constancia Entrada</a>
                          </div>
                          {%endif%}
                      </div>

                    </div>
                    <div class="box-body table-responsive">
                        <table id="entrada-table" class="table  table-condensed "
                               data-api="{% url 'inventario_api:api_detalles-list' %}"
                               data-pk="{{ form.instance.id }}">
                            <thead>
                            <tr>
                                <th>Tipo de dispositivo</th>
                                <th>Descripcion</th>
                                <th>Útil</th>
                                <th>Repuesto</th>
                                <th>Desecho</th>
                                <th>Cantidad total</th>
                                <th>Precio Unitario</th>
                                <th>Precio Subtotal</th>
                                <th>Precio Descontado</th>
                                <th>Precio Total</th>
                                <th>Tecnico</th>
                                <th>Proyecto</th>
                                <th>Estado</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            {% if request.user|has_group:"inv_conta" or request.user|has_group:"inv_bodega" %}
							<tfoot>
								<th>Total dispositivos</th>
								<th>{{total_utiles}}</th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th>Precio total</th>
								<th>Q. {{total_precio}}</th>
							<tfoot>
					</table>
					<p>
                        {% if form.instance.tipo|stringformat:"s" == "Compra" %}
                        *Los totales aplican solamente para compararlos con la factura No. {{form.instance.factura}}
                        {% else %}
                        *Los totales aplican solamente para compararlos con el recibo de donacion
                        {% endif %}
						
					</p>
					{%endif%}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%else%}
{%endif%}
{% endblock content %}
{% block extra_js %}
{% include "base/dataTables.html" %}
<script src="{% static "js/extrajs/inventario.js" %}"></script>
<script>
    AlertaEnCreacion.init();
    $(document).ready(function(){
        let pagina = new EntradaUpdate();
    });
</script>
{% endblock extra_js %}
