{% load staticfiles %}
<!DOCTYPE html>
<html>
    {%csrf_token%}
{% if  impresos|stringformat:"s" == "1" %}
<body>
  <div>
    <center>
      <img src="{% static "image/QRImpresos.png" %}" class="img-thumbnail" alt="{{codigos_qr}}">
    </center>
  </div>
  
</body>
{% else %}
<body>  
    {%for codigos_qr in dispositivo_qr%}
  <div style="width:2.8cm; height:1.5cm;">
    <center>
      <img src="{{codigos_qr.codigo_qr.url}}" class="img-thumbnail" alt="{{codigos_qr}}" width="60">
    </center>
  </div>
  <div style="width:2.8cm; height:0.5cm;">
    <center>
      <font size="2"><b>{{codigos_qr}}</b></font>
    </center>
  </div>
    {%endfor%}
</body>
<style type="text/css">
	@page{
	margin: 0;
  padding: -1px;
}
img {
    display: inline-block;

}
div{
  page-break-inside: always;
}
</style>
{% block extra_js %}
<script src="{% static "js/jquery.min.js" %}"></script>
<script>
  
window.onload= function () { 
  window.print();
}
window.onafterprint = function(){  
  $.ajax({
                    type: 'POST',
                    url: "{{url_bloqueo}}",
                    dataType: 'json',
                    data: {
                      csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                      detalles_id :"{{detalle}}",
                      id:"{{id}}"
                    },
                    success: function (response) {
                      alert(response.mensaje);
                      location.reload();
                    },
                    error: function (response) {
                     alert(response.mensaje);
                    }
                  });
  

}
</script>
{% endblock extra_js %}
{% endif %}
</html>

