{% extends "base/base.html" %}

{% load staticfiles %}

{% block page_title %}
<title>Listado de garantías</title>
{% endblock page_title %}

{% block content %}
<section class="content-header">
	<h1>Listado de garantías</h1>
</section>
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body">
						<table class="table table-datatables">
							<thead>
								<tr>
									<th>Entrega</th>
									<th>Garantía</th>
									<th>Fecha de inicio</th>
									<th>Fecha de vencimiento</th>
									<th>Estado actual</th>
								</tr>
							</thead>
							<tbody>
								{% for garantia in garantia_list %}
									<tr>
										<td>{{ garantia.equipamiento }}</td>
										<td>{{ garantia.id }}</td>
										<td>{{ garantia.equipamiento.fecha|date:"Y-m-d" }}</td>
										<td>{{ garantia.fecha_vencimiento|date:"Y-m-d" }}</td>
										<td>
											{% if garantia.get_vigente %}
												Vigente
											{% else %}
												Vencida
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}