{% extends "base/base.html" %}

{% load staticfiles %}

{% block content %}
<section class="content">
	<div class="row">
		<div class="col-md-4">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title">Evaluación al equipamiento</h3>
					<span class="box-tools pull-right"></span>
				</div>
				<div class="box-body">
					<h4>{{ monitoreo.comentario }}</h4>
					<p></p>					
					<ul class="timeline">
						<li class="time-label">
							<span class="bg-yellow">
								{{ monitoreo.fecha|date:"Y-m-d" }}
							</span>
						</li>
						<li>
							<div class="timeline-item">
								<h3 class="timeline-header">
									<a href="{{ monitoreo.equipamiento.escuela.get_absolute_url }}">
										{{ monitoreo.equipamiento.escuela }}
									</a>
								</h3>
								<div class="timeline-body">
									{{ monitoreo.equipamiento.escuela.direccion }}
									<hr>
									<i class="fa fa-user"></i> {{ monitoreo.creado_por.get_full_name }}
								</div>
							</div>
						</li>
						<li class="time-label">
							<span class="bg-green">
								{{ monitoreo.porcentaje_evaluacion }} %
							</span>
						</li>
					</ul>
				</div>
				<div class="box-footer">
				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="box box-warning">
				<div class="box-body">
					{% if evaluacion_form %}
					<form method="post" action="{% url 'monitoreo_update' pk=monitoreo.id %}">
						{% csrf_token %}
						{{ evaluacion_form.as_table }}
						<input type="submit" class="btn btn-warning" value="Crear evaluación">
					</form>
					{% else %}
					<form id="evaluacion-form">
						<table class="table">
							<thead>
								<tr>
									<th>Pregunta</th>
									<th>Rango evaluación</th>
									<th>Resultado</th>
									<th>Porcentaje</th>
								</tr>
							</thead>
							{% csrf_token %}
							{% for evaluacion in monitoreo.evaluaciones.all %}
							<tr>
								<th>{{ evaluacion.pregunta }}</th>
								<td>{{ evaluacion.pregunta.minimo }} - {{ evaluacion.pregunta.maximo }}</td>
								<td>
									<input type="number" class="punteo form-control" value="{{ evaluacion.punteo }}" name="punteo" data-url="{% url 'tpe_api:evaluacionmonitoreo_api_detail' pk=evaluacion.id %}">
								</td>
								<td>
									<span id="evaluacion-{{ evaluacion.id }}">{{ evaluacion.porcentaje|floatformat:"2" }}</span>%
								</td>
							</tr>
							{% endfor %}
						</table>
						<input type="submit" class="btn btn-primary" value="Guardar">
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}

{% block extra_js %}
<script src="{% static "js/extrajs/tpe.js" %}"></script>
<script>
EvaluacionMonitoreo.init();
</script>
{% endblock extra_js %}