<h3 class="box-title">
	Historial
	{% if ticket.cerrado != True %}
		<button onclick="$('#registro-{{ ticket.id }}').toggle();" class="btn btn-info btn-flat"><i class="fa fa-plus"></i></button>
	{% endif %}
</h3>
<div class="attachment-block form-nuevo-registro" id="registro-{{ ticket.id }}">
	<form action="{% url 'ticket_registro_add' ticket_id=ticket.id %}" class="box-body" method="post">
		{% csrf_token %}
		{{ ticket_registro_form.as_p }}
		<input type="submit" value="Crear" class="btn btn-success">
	</form>
</div>
{% for registro in ticketregistro_list|dictsortreversed:"fecha" %}
	<div class="attachment-block clearfix">
		<h4 class="attachment-heading">
			{{ registro.tipo }}
			<small class="time pull-right"><i class="fa fa-calendar"></i> {{ registro.fecha }}</small>
		</h4>
		<p>{{ registro.descripcion }}</p>
		{% if registro.foto %}
			<p><a href="{{ registro.foto }}" target="_blank">Fotos</a></p>
		{% elif ticket.cerrado != True %}
			<form action="{% url 'ticket_registro_update' pk=registro.id %}" method="post">
				{% csrf_token %}
				{{ ticket_registro_update_form.as_p }}
				<input type="submit" value="Guardar" class="btn btn-success btn-xs">
			</form>
		{% endif %}
		<small>{{ registro.creado_por.perfil }}</small>
	</div>
{% endfor %}