<div class="box box-primary box-solid">
	<div class="box-header with-border">
		<h3 class="box-title">Ticket {{ ticket.id }}</h3> {% if ticket.cerrado != True %} (Pendiente){% endif %}
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			</button>
		</div>
	</div>
	<div class="box-body">
		<div class="row row invoice-info">
			<div class="col-md-3 col-sm-3 invoice-col">
				<address>
					<strong><i class="fa fa-info margin-r-5"></i> Descripción</strong>
					<br>{{ ticket.descripcion }}
					<br>
					<strong>Costo total</strong>
					<br>Q. {{ ticket.get_costo_total }}
				</address>
			</div>
			<div class="col-md-3 col-sm-3 invoice-col">
				<address>
					<strong><i class="fa fa-hourglass-start margin-r-5"></i> Creación</strong>
					<br>{{ ticket.fecha_abierto|date:"Y-m-d" }}, {{ ticket.abierto_por.perfil }}
				</address>
			</div>
			<div class="col-md-3 col-sm-3 invoice-col">
				<address>
					<strong><i class="fa fa-user margin-r-5"></i> Contacto</strong>
					<br>{{ ticket.contacto_reporta|default_if_none:"" }}<br>
					{% for telefono in ticket.contacto_reporta.telefono.all %}
						{{ telefono }}<br>
					{% endfor %}
				</address>
			</div>
			<div class="col-md-3 col-sm-3 invoice-col">
				<address>
					<strong><i class="fa fa-hourglass-end margin-r-5"></i> Cierre</strong>
					{% if ticket.cerrado %}
						<br>{{ ticket.fecha_cierre|date:"Y-m-d" }}, {{ ticket.cerrado_por.perfil }}
					{% else %}
						<form action="{% url 'ticket_soporte_update' pk=ticket.id %}" method="post">
							{% csrf_token %}
							{{ ticket_cerrado_form.as_p }}
							<input type="submit" value="Cerrar" class="btn btn-danger">
						</form>
					{% endif %}
				</address>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-xs btn-success btn-print-ticket" data-url="{% url 'ticket_print_detalle' %}" data-ticket="{{ ticket.id }}">
					<i class="fa fa-print"></i> Detalle
				</button>
				<button class="btn btn-xs btn-success btn-print-registro" data-url="{% url 'ticket_registro_print_detalle' %}" data-ticket="{{ ticket.id }}">
					<i class="fa fa-print"></i> Visita
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				{% include "tpe/ticket_registro_list.html" with ticketregistro_list=ticket.registros.all%}
			</div>
			<div class="col-md-4">
				{% include "tpe/ticket_reparacion_list.html" with ticketreparacion_list=ticket.reparaciones.all %}
			</div>
			<div class="col-md-4">
				{% include "tpe/ticket_transporte_list.html" with tickettransporte_list=ticket.transportes.all %}
			</div>
		</div>
	</div>
</div>