<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Fallas</h3>
    </div>
    <div class="box-body">
        <div class="box-group" id="accordion">
            {% for falla in dispositivo.fallas.all %}
                <div class="panel box {% if falla.terminada %}box-success{% else %}box-danger{% endif %}">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#f{{ falla.id }}"
                               aria-expanded="false" class="collapsed">
                                {{ falla }}
                            </a>
                        </h4>
                        {% if not falla.terminada %}
                        <div class="box-tools">
                            <a href="{% url 'dispositivofalla_update' pk=falla.id %}" class="btn btn-danger btn-xs">
                                <i class="fa fa-pencil"></i> Editar
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div id="f{{ falla.id }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="box-body">
                            <table class="table table-striped">
                                <tr>
                                    <th>Reporte</th>
                                    <td>{{ falla.descripcion_falla }}</td>
                                </tr>
                                <tr>
                                    <th>Creación</th>
                                    <td>{{ falla.fecha_inicio|date:"Y-m-d (H)" }}, por {{ falla.reportada_por.get_full_name }}</td>
                                </tr>
                                {% if falla.terminada %}
                                <tr>
                                    <th>Solución</th>
                                    <td>{{ falla.descripcion_solucion|default_if_none:"" }}</td>
                                </tr>
                                <tr>
                                    <th>Reparación</th>
                                    <td>{{ falla.fecha_fin|default_if_none:""|date:"Y-m-d (H)" }}, por {{ falla.reparada_por.get_full_name|default_if_none:"" }}</td>
                                </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if form_falla %}
                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-form" class="collapsed"
                               aria-expanded="false">
                                Nueva falla
                            </a>
                        </h4>
                    </div>

                    <div id="collapse-form" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="box-body">
                            <form action="{% url 'dispositivofalla_add' %}" method="post">
                                {% csrf_token %}
                                {{ form_falla.as_p }}
                                <input type="submit" class="btn btn-primary pull-right" value="Crear">
                            </form>
                        </div>
                    </div>

                </div>
            {% endif %}
        </div>
    </div>
</div>