{% extends "base/base.html" %}

{% block page_title %}
    <title>Solicitudes de movimiento</title>
{% endblock page_title %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Listado de solicitudes</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-condensed table-striped">
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Fecha</th>
                                    <th>Dispositivo</th>
                                    <th>Cantidad</th>
                                    <th>Solicitada por</th>
                                    <th>Autorizada por</th>
                                    <th>Tipo</th>
                                    <th>Desecho</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for solicitud in solicitudmovimiento_list %}
                                    <tr>
                                        <td><a href="{{ solicitud.get_absolute_url }}">{{ solicitud }}</a></td>
                                        <td>{{ solicitud.fecha_creacion|date:"Y-m-d" }}</td>
                                        <td>{{ solicitud.tipo_dispositivo }}</td>
                                        <td>{{ solicitud.cantidad}}</td>
                                        <td>{{ solicitud.creada_por.get_full_name }}</td>
                                        <td>{{ solicitud.autorizada_por.get_full_name }}</td>
                                        <td>
                                            {% if solicitud.devolucion %}
                                                <span class="label label-danger">Devolución</span>
                                            {% else %}
                                                <span class="label label-primary">Solicitud</span>
                                            {% endif %}
                                        </td>
                                        <td align="center">
                                            {% if solicitud.desecho %}
                                                <input type="checkbox" name="desecho" class="icheckbox_square-red" disabled  {% if solicitud.desecho %} checked {% endif %} />
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if solicitud.rechazar %}
                                                <span class="label label-danger">RECHAZADA</span>
                                            {%elif not solicitud.terminada %}
                                                <span class="label label-danger">Pendiente</span>
                                            {% else %}
                                                {% if solicitud.recibida %}
                                                    <span class="label label-success">Recibido</span>
                                                {% else %}
                                                    <span class="label label-warning">Entregado</span>
                                                {% endif %}                             
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block extra_js %}
{% include "base/dataTables.html" %}
<script>
    $(document).ready(function(){
        var tabla = $('.table').DataTable({
          dom: 'Blfrtip',
          buttons: ['excel', 'pdf', 'copy'],
          ordering: false,
          pageLength: 50,
        });
    });    
</script>
{% endblock extra_js %}
