{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/buttons.bootstrap.min.css" %}">
{% endblock extra_css %}

{% block extra_js %}
<script src="{% static "js/dataTables.rowsGroup.js" %}"></script>
<script src="{% static "js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "js/buttons.bootstrap.min.js" %}"></script>
<script src="{% static "js/jszip.min.js" %}"></script>
<script src="{% static "js/pdfmake.min.js" %}"></script>
<script src="{% static "js/vfs_fonts.js" %}"></script>
<script src="{% static "js/buttons.html5.min.js" %}"></script>
<script src="{% static "js/sum.js" %}"></script>
{% endblock extra_js %}