{% load thumbnail %}
{% load mptt_tags %}

<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

	<!-- Sidebar user panel (optional) -->
	<div class="user-panel">
		<div class="pull-left image">
			<img src="{{ user.perfil.foto|thumbnail_url:'avatar-sm' }}" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>{{user.first_name}} {{user.last_name}}</p>
		</div>
	</div>

	<!-- Sidebar Menu -->
	<ul class="sidebar-menu">
		{% for group in request.user.groups.all %}
		{% recursetree group.nav_menu.all.0.menu.all %}
		<li>{{ node.name }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
		{% endrecursetree %}

		
		{% endfor %}
		<li class="header">HEADER</li>
		<!-- Optionally, you can add icons to the links -->
		<li ><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
		<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
		<li class="treeview">
			<a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
			<ul class="treeview-menu">
				<li><a href="#">Link in level 2</a></li>
				<li><a href="#">Link in level 2</a></li>
				<li class="treeview">
					<a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li class="active"><a href="#">Link in level 3</a></li>
						<li><a href="#">Link in level 3</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->