<div>
<img class="img-responsive pad" src="https://maps.googleapis.com/maps/api/staticmap?zoom=8&size=400x400&markers=color:red%7C{{ latitud }},{{ longitud }}&key=AIzaSyBBhrtqBwUbkByJdxAF3S_jpXXWOaegiIE">
<p class="small">{{ latitud }}, {{ longitud }} 
<a href="waze://?ll={{ latitud }},{{ longitud }}" class="btn btn-info btn-xs" target="_blank">Waze <i class="fa fa-external-link" aria-hidden="true"></i></a>
<a href="http://maps.google.com/maps?q={{ latitud }},{{ longitud }}" class="btn btn-success btn-xs" target="_blank">Maps <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
</div>