{% extends "base/base-account.html" %}

{% block content %}
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
            <h3>
                <i class="fa fa-warning text-yellow"></i> Página no encontrada
            </h3>
            <h4>La direc<b>c</b>ión que <b>h</b>as ingresado no encuentra ningún resultado, por lo que el sistema no sabe qué hacer.</h4>

            <h3>¯\_(ツ)_/¯</h3>
            <p>
                Revisa que hayas escrito la dirección correctamente. Si crees que es <b>u</b>n error del s<b>i</b>stema, puedes reportarlo con el administrador.
                <br>
                Como probablemente el administrador esté a <b>k</b>ilómetros de tu ubicación, lo más efectivo es enviarle un mensaje de correo con la descripción detallada del problema que encontrase.
                Mientras más detalles puedas incluir, será más fácil darte soporte técnico. Además, el administrador te lo agradecerá mucho, créeme.
            </p>
        </div>
    </div>
</section>
{% endblock %}