{% extends "base/base.html" %}

{% block content %}
<section class="content">
	<div class="row">
		<div class="col-md-9">
			<table class="table table-hover box">
				<form action="{{ action }}" method="post">
					{{ form.non_field_errors}}
					{% csrf_token %}
					{{ form.as_table }}
					<tr>
						<td colspan="2" align="center">
							<input type="submit" value="Cambiar" class="btn btn-primary">
							<a href="{% url 'perfil' %}" class="btn btn-danger">Cancelar</a>
						</td>
					</tr>
				</form>
			</table>
		</div>
	</div>
</section>
{% endblock content %}