{% extends "base/base.html" %}
{% load account %}
{% load socialaccount %}
{% load thumbnail %}
{% load widget_tweaks %}

{% block content %}

<section class="content-header">
	<h1>Perfil de usuario</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-3">
			<div class="box box-primary">
				<div class="box-body box-profile">
					<img class="profile-user-img img-responsive img-circle" src="{{ perfil.foto|thumbnail_url:'avatar' }}" alt="Foto del usuario">
					<h3 class="profile-username text-center">{{ perfil }}</h3>
					{% for group in perfil.user.groups.all %}						
					<p class="text-muted text-center">{{ group }}</p>
					{% endfor %}
				</div>
			</div>
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Información</h3>
				</div>
				<div class="box-body">
					<strong><i class="fa fa-book margin-r-5"></i> DPI</strong>
					<p class="text-muted">{{ perfil.dpi }}</p>
					<hr>
					<strong><i class="fa fa-map-marker margin-r-5"></i> Dirección</strong>
					<p class="text-muted">{{ perfil.direccion }}</p>
					<hr>
				</div>
			</div>

		</div>

		{% if perfil.id is request.user.perfil.id %}
		<div class="col-md-9">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs nav-justified">
					<li class="active"><a href="#edicion" data-toggle="tab">Edición</a></li>
					<li><a href="#cuentas" data-toggle="tab">Enlazar cuentas</a></li>
					<li><a href="#preferencias" data-toggle="tab">Ajustes</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="edicion">
						<form role="form" method="post" action="{{action}}" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="box-body">
								{% for field in form %}
								<div class="form-group">
									<label>{{ field.label }}</label>
									{% if field.type is 'checkbox' %}
									{{ field }}
									{% else %}
									{{ field|add_class:"form-control" }}
									{% endif %}
									{{ field.type }}
								</div>
								{% endfor %}
							</div>

							<button type="submit" class="btn btn-primary">Guardar</button>
						</form>
					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="cuentas">
						<p><a href="{% provider_login_url "google" process="connect" %}">Google Apps</a></p>
						<a href="{% provider_login_url "facebook" process="connect" method="oauth2" %}">Facebook OAuth2</a>
					</div>
					<div class="tab-pane" id="preferencias">
						<table class="table">
							<form action="{% url "perfil_preferencias" pk=object.pk %}" method="post">
								{% csrf_token %}
								{{ preferencias_form.as_table }}
								<tr>
								<td><input type="submit" class="btn btn-primary" value="Guardar"></td>
								</tr>
							</form>
						</table>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>

</section>
{% endblock content %}