{% extends "base/base.html" %}
{% load staticfiles %}
{% block page_title %}
<title>Detalle prestamo</title>
{% endblock page_title %} {% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<div class="box">
					<div class="box-header">
						<div class="row">
							<div class="col-md-6">
								<h3 class="box-title">Prestamo No. {{prestamo.id}}</h3>
								{% csrf_token %}
							</div>
							<div class="col-md-6">
								{%if prestamo.devuelto == True%}
								{%else%}
									<a id='devolver' data-devolucion="{{prestamo.id}}"  class='btn btn-primary btn-devolver' data-urldevolucion = "{% url 'inventario_api:api_prestamo-devolver-prestamo'%}">Devolver</a>
								{%endif%}
								  <a target='_blank' href="{% url 'prestamo_print' pk=object.id%}" class="btn btn-success">Informe de prestamo</a>

						</div>
						</div>
					</div>
					<div class="box-body">
						<table class="table table-condensed">
							<tr>
								<th>Prestamo No. </th>
								<td>{{ prestamo.id }}</td>
							</tr>
              <tr>
                <th>Tipo</th>
                <td>
                  {{prestamo.tipo_prestamo}}
                  <br>
                </td>
              </tr>
							<tr >
								<th>Fecha Inicio</th>
								<td>
									{{prestamo.fecha_inicio}}
									<br>
								</td>
							</tr>
              <tr>
                <th>Fecha Fin</th>
                <td>
                  {{prestamo.fecha_fin |default_if_none:"" }}
                  <br>
                </td>
              </tr>
              <tr>
                <th>Estado</th>
                <td>
									{%if prestamo.devuelto == True%}
                  <span class='label label-success'>Devuelto</span>
                  {%else%}
                  <span class='label label-danger'>Pendiende</span>
                  {%endif%}
                  <br>
                </td>
              </tr>
              <tr>
				
                <th>Prestado A:</th>
				<td>
					{% if prestamo.tipo_prestamo|stringformat:"s" == "Externo"%}
					{{prestamo.prestado_externo_a.nombre}}
					{% else %}
					{{prestamo.prestado_a.get_full_name}}
					{% endif %}
					
					<br>
				  </td>
			
                
              </tr>
							<tr>
								<th>Dispositivos</th>
								<td>
									<b>Trige  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tipo</b>
									<br />
									{% for dispositivo in prestamo.dispositivo.all %}
									{{ dispositivo}},&nbsp;&nbsp;&nbsp; {{dispositivo.tipo}}
									<br />
									{% endfor %}
									<br>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
				<div class="col-md-6">

				</div>
		</div>

	</div>
</section>
{% endblock content %}
{% block extra_js %}
{% include "base/dataTables.html" %}
<script src="{% static "js/extrajs/inventario.js" %}"></script>
<script>
	let ListadoPrestamos = new PrestamoList();
</script>
{% endblock extra_js %}
