{% extends "base/base.html" %}
{% load widget_tweaks staticfiles editable_field has_group %}

{% block page_title %}
<title>{{ visita }}</title>
{% endblock page_title %}

{% block content %}
{% if request.user|has_group:"kalite"%}
<section class="content-header">
	<h1>
		Visita {{ visita.numero }} - <a href="{{ visita.escuela.get_absolute_url }}">{{ visita.escuela }}</a>
		<small>{{ visita.escuela.direccion|default_if_none:"" }}</small>
	</h1>
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
				{% csrf_token %}
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Información general</h3>
					</div>
					<div class="box-body">
						<p>
							<strong>Fecha: </strong>
							{% if perms.kalite.change_visita %}
							<a href="#" class="editable lead" data-mode="inline" data-name="fecha" data-type="text" data-pk="{{ visita.id }}" data-url="{% url 'visita_api_detail' pk=visita.id %}" data-inputclass="datepicker">
								{{ visita.fecha|date:"Y-m-d" }}
							</a>
							{% else %}
							{{ visita.fecha|date:"Y-m-d" }}
							{% endif %}
						</p>
						
						<p><strong>Hora de inicio: </strong></p>
						{% if perms.kalite.change_visita %}
						<a href="#" class="editable" data-name="hora_inicio" data-type="text" data-pk="{{ visita.id }}" data-url="{% url 'visita_api_detail' pk=visita.id %}">
							{{ visita.hora_inicio|default_if_none:"" }}
						</a>
						{% else %}
						{{ visita.hora_inicio|default_if_none:"" }}
						{% endif %}

						<p><strong>Hora de fin: </strong></p>
						{% if perms.kalite.change_visita %}
						<a href="#" class="editable" data-name="hora_fin" data-type="text" data-pk="{{ visita.id }}" data-url="{% url 'visita_api_detail' pk=visita.id %}">
							{{ visita.hora_fin|default_if_none:"" }}
						</a>
						{% else %}
						{{ visita.hora_fin|default_if_none:"" }}
						{% endif %}

						<p><strong>Observaciones: </strong></p>
						{% if perms.kalite.change_visita %}
						<a href="#" class="editable" data-name="observaciones" data-type="text" data-pk="{{ visita.id }}" data-url="{% url 'visita_api_detail' pk=visita.id %}">
							{{ visita.observaciones|default_if_none:"" }}
						</a>
						{% else %}
						{{ visita.observaciones|default_if_none:"" }}
						{% endif %}
					</div>
				</div>

				<!-- Sección de evaluaciones -->
				{% for evaluacion in visita.evaluaciones.all %}
				<div class="box box-solid">
					<div class="box-header bg-{{ evaluacion.rubrica.color }}">
						<h2 class="box-title">{{ evaluacion.rubrica }}</h2>
						<div class="pull-right">
							<span class="promedio-evaluacion strong" id="evaluacion-{{ evaluacion.id }}" data-id="{{ evaluacion.id }}" data-url="{% url 'evaluacion_api_detail' pk=evaluacion.id %}"></span>%
						</div>
					</div>
					<div class="box-body">
						<blockquote>
							<p>{{ evaluacion.rubrica.descripcion }}</p>
						</blockquote>
						<table class="table table-striped">
							{% for nota in evaluacion.notas.all %}
							<tr>
								<td>{{ nota.indicador }}</td>
								<td>
									{% if perms.kalite.change_punteo %}
									<a href="#" class="editable btn btn-lg btn-block" data-name="nota" data-type="select" data-pk="{{ nota.id }}" data-source="{{ notas_list }}" data-url="{% url 'punteo_api_detail' pk=nota.id %}">
										{{ nota.nota }}
									</a>
									{% else %}
									{{ nota.nota }}
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</table>
						<p>
							<strong>Observaciones:</strong>
						</p>
						<p>
							{% if perms.kalite.change_evaluacion %}
							<a href="#" class="editable" data-name="observaciones" data-type="text" data-pk="{{ evaluacion.id }}" data-url="{% url 'evaluacion_api_detail' pk=evaluacion.id %}">
								{{ evaluacion.observaciones|default_if_none:"" }}
							</a>
							{% else %}
							{{ evaluacion.observaciones|default_if_none:"" }}
							{% endif %}
						</p>
					</div>
				</div>
				{% endfor %}
			</div>

			<!-- Gráficos de resumen -->
			<div class="col-md-5">
				<!-- Gráfico de escuela -->
				<div class="info-box bg-blue">
					<span class="info-box-icon"><i class="fa fa-bank"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Escuela {{ visita.escuela }} ({{ visita.visitas_escuela }} Visitas)</span>
						<span class="info-box-number" data-url="{% url 'visita_api_detail' pk=visita.id %}" id="promedio-escuela">{{ visita.promedio_escuela }}%</span>
						<div class="progress">
							<div class="progress-bar" id="progressbar-visita_escuela" style="width: {{ visita.promedio_escuela|floatformat:"0" }}%"></div>
						</div>
					</div>
				</div>
				<!-- Gráfico de visita -->
				<div class="info-box bg-teal">
					<span class="info-box-icon"><i class="fa fa-check-square-o"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Visita {{ visita.numero }}</span>
						<span class="info-box-number" data-url="{% url 'visita_api_detail' pk=visita.id %}" id="promedio-visita">{{ visita.promedio }}%</span>

						<div class="progress">
							<div class="progress-bar" id="progressbar-visita" style="width: {{ visita.promedio|floatformat:"0" }}%"></div>
						</div>
					</div>
				</div>

				<!-- Gráficos de evaluaciones -->
				{% for evaluacion in visita.evaluaciones.all %}
				<div class="info-box bg-{{ evaluacion.rubrica.color }}">
					<span class="info-box-icon"><i class="fa {{ evaluacion.rubrica.icon }}"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">{{ evaluacion.rubrica }}</span>
						<span class="info-box-number" id="promedio-evaluacion-graph-{{ evaluacion.id }}">{{ evaluacion.promedio }}%</span>

						<div class="progress">
							<div class="progress-bar" id="progressbar-{{ evaluacion.id }}" style="width: {{ evaluacion.promedio|floatformat:"0" }}%"></div>
						</div>
					</div>
				</div>
				{% endfor %}

				<!-- Ejercicios realizados por grado -->
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Grados</h3>
						{% if perms.kalite.change_visita %}
						<div class="pull-right box-tools">
							<button type="button" class="btn btn-danger btn-sm" onclick="$('#form-grado').toggle();">
								<i class="fa fa-plus"></i> Agregar
							</button>
						</div>
						{% endif %}
					</div>
					
					<div class="box-body table-responsive">
						<form id="form-grado" action="{% url 'grado_api' %}">
							<table class="table">
								{% csrf_token %}
								{% for hidden in grado_form.hidden_fields %}
								{{ hidden }}
								{% endfor %}
								{% for field in grado_form.visible_fields %}
									<tr>
										<td>{{ field.label_tag }}</td>
										<td>{{ field|add_class:"form-control" }}</td>
									</tr>
								{% endfor %}
								<tr>
									<td colspan="2" align="center">
										<input type="submit" value="Agregar" class="btn btn-primary">
									</td>
								</tr>
							</table>
						</form>

						<div class="box-group" id="grado-accordion" data-url="{% url 'grado_api' %}" data-visita="{{ visita.id }}" data-url-ejgr="{% url 'ejerciciosgrado_api' %}">

						</div>
					</div>
				</div>

				<!-- Gráfico de grados -->
				<div class="box">
					<div class="box-body" style="display: block;">
						<div class="row">
							<div class="col-md-12">
								<div class="chart">
									<canvas id="grafico-grados" style="height: 250px;">
									</canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-editable.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script src="{% static 'js/bootstrap-editable.min.js' %}"></script>
<script src="{% static 'js/distributed/Chart.min.js' %}"></script>
<script src="{% static 'js/extrajs/kalite.js' %}"></script>
<script>
	{% if perms.kalite.change_visita %}
	VisitaDetail.init(1);
	{% else %}
	VisitaDetail.init(0);
	{% endif %}
</script>
{% endblock extra_js %}