{% extends "base/base.html" %}
{% load has_group %}

{% load staticfiles widget_tweaks %}

{% block page_title %}
<title>Editar Formulario</title>
{% endblock page_title %} 


{% block content %}
{% if request.user|has_group:"eva_admin" or request.user|has_group:"eva_tpe"  or request.user|has_group:"eva_capacitacion" %}


<section class="content-header">
	<h1>Editar Formulario</h1>
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-4">
                <div class="box box-primary">
					<div class="box-body">
                        <form action="{{action}}" method="post">
                            <table class="table table-striped box box-primary">
                                {% csrf_token %}
                                {% for field in form %}
                                    <tr>
                                        <td>{{ field.label_tag }}</td>
                                        <td>{{ field|add_class:"form-control" }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="2" align="center">
                                        <input type="submit" value="Guardar" class="btn btn-primary" tabindex="6">
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            
         

        </div>
	</div>
</section>
 
{% endif %}
{% endblock content %}