{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="{% url 'admin:salida_escuelas' %}" method="POST">
            {% csrf_token %}
                <button type="submit">Asignar Escuelas a Salidas</button>
        </form>
        <form action="{% url 'admin:movimiento_salida' %}" method="POST">
            {% csrf_token %}
                <button type="submit">Generar Movimientos de Salida</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}
