{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
  <title>
    Constacia de GARANTIA 
  </title>
</head>
<meta charset="utf-8"/>

<body>
  <div align="center">
    <div class="encabezado">
       <img src="{% static "image/LogosConsorcio_BEQT.png"%}" height="80" />      <!--Imagenes de ecabezado -->
    </div>
        <div style="font-size:22px">
      <h5>
        GARANTIA FUNSEPA 
        <br>
        OFICIO No. TPE {{salidainventario}} 
    </div>
  </div>
  
  <div align="justify">
    <p> 
        FUNSEPA se siente muy complacida de poder apoyar en la búsqueda de una educación de calidad para la niñez y adolescencia 
        por medio de la tecnología y les agradece por su colaboración y entusiasmo en la realización de este proyecto. Para aprovechar el apoyo de la mejor manera 
        queremos aclarar los siguientes puntos:
    </p>
    <ul>
      <li>
        <p>
           Es de suma importancia que los dispositivos se mantengan en buen estado para que sus beneficios sean de provecho.
           {% if capacitada %}
           Esto será posible llevando a la
           práctica los conocimientos adquiridos en el proceso de capacitación respecto al mantenimiento
           preventivo y reparación básica de fallas del mismo; así como la comunicación constante con
           Funsepa.
          {% endif %}
        </p>
      </li>
      <li>                     
        <p>
           {% if escuela_cc == 99  %}
           Las _________<u><b>{{total_tablet}}</b></u>__________  {% if cpu == 1 %}tablets  y  _________<u><b>{{total_laptop}}</b></u>__________ {% else %}computadoras{% endif %} Laptop con _________<u><b>{{cpu_servidor}}</b></u>__________  {% if laptop == True %}servidor tipo Laptop{% else %}servidor{% endif %} entregados por FUNSEPA a {{salidainventario.escuela.nombre}}
            {% else %}
                {% if total_laptop > 0 %}
                Las _________<u><b>{{total_laptop}}</b></u>__________ computadoras Laptop con _________<u><b>{{cpu_servidor}}</b></u>__________  {% if laptop == True %}servidor tipo Laptop{% else %}servidor{% endif %} entregados por FUNSEPA a {{salidainventario.escuela.nombre}}
                {% else %}
                Las _________<u><b>{{total_tablet}}</b></u>__________  tablets , con _________<u><b>{{cpu_servidor}}</b></u>__________  {% if laptop == True %}servidor tipo Laptop{% else %}servidor{% endif %} entregados por FUNSEPA a {{salidainventario.escuela.nombre}}
                {% endif %}
         
           {% endif %}
           
           UDI {{salidainventario.escuela.codigo}} en calidad
           de préstamo se encuentran funcionando en su totalidad, de caso contrario informar al técnico
           encargado de la entrega para que haga las correcciones correspondientes. Solicitamos al
           establecimiento probar todos los dispositivos <b>ANTES</b> de firmar la presente nota que hace constar
           su funcionamiento y recepción a total conformidad. </br> </br>
        </p>
      </li>
      <li>
        <p>
          Todos los dispositivos se entregan con {{tiempo}} garantia, la cual inicia el {{salidainventario.fecha}}
          y finaliza el {{fin_garantia}}. Adicional a este certificado, se le
          está haciendo entrega de un Manual de Autosostenibilidad y Mantenimiento (En formato digital), y una Guía del Software
          Educativo instalado en el equipo.</br> </br>
       <p>
      </li>
      <li>
        <p>
          Si durante el tiempo que dure la garantía el equipo presentara algún desperfecto, FUNSEPA se
          <b>compromete</b> a reparar o cambiar las partes que se encuentren dañadas (no se debe extraer ninguna
          pieza del equipo para efectos de garantía), <b>el valor del transporte hacia el Centro de
          Reacondicionamiento es cubierto por FUNSEPA.</b> </br> </br>
       <p>
      </li>
      <li>
        <p>
           Si los dispositivos que se les entregó presentara algún desperfecto o daño <b>luego de finalizada</b>
           la garantía, pueden comunicarse a FUNSEPA a los teléfonos<b> 24352739/ 24319639 </b>y llevarlo al Centro
           de Reacondicionamiento donde se realizará un diagnóstico, FUNSEPA reparará daños menores, en
           el caso que se necesite el cambio de alguna pieza se hará de conocimiento al encargado del entorno virtual
           y el costo deberá ser cubierto por el entorno virtual.
          </br> </br>
        </p>
      </li>
      <li>
        <p>
          Según el plan de sostenibilidad; es indispensable que la institución vele por el buen
          funcionamiento del equipo entregado. Durante éste periodo se estará en constante
          comunicación y monitoreo sobre el uso del equipo y en caso se compruebe que el mismo no
          está siendo aprovechado para mejorar la educación de los niños Funsepa estará en derecho de
          retirarlo.</br> </br>
        </p>
      </li>
      <li>
        <p>
           Es indispensable que el personal encargado, asistan a las capacitaciones impartidas por FUNSEPA, ya
           que de caso contrario el equipo entregado puede ser retirado arbitrariamente.</br>
        </p>
      </li>
    </ul>
    <div>
      <p>
      </br>
         <b>Nota Importante:</b> Los Técnicos de FUNSEPA <b>no están autorizados</b> en ninguna circunstancia para recibir
         dinero bajo ningún concepto. Cualquier duda por favor comunicarse DIRECTAMENTE con la Fundación. </br></br>
      </p>
    </div>
  </div>

  <div>
    <table style="width:100%">
      <br> <br> <br> <br> <br> <br>
      <tr>
        <th>
          <h6 style="font-size:16px">
            <hr style="border:0.005cm solid; width: 380px; margin-bottom: -16px;"> 
             <br>
             REPRESENTANTE DEL ENTORNO VIRTUAL
             <br>
             Nombre, firma y Sello
          </h6>
        </th>
        <th>
           <h6 style="font-size:16px"> 
            <hr style="border:0.005cm solid; width: 380px; margin-bottom: -16px;"> 
            <br/>
            REPRESENTANTE DE FUNSEPA
            <br/>
            NOMBRE Y FIRMA
          </h6>
        </th>
      </tr>
    </table>
    <div align="center">
      <p>Sello</p>
      <p> <br> <br> <br> 
         Guatemala, {{salidainventario.fecha}} 
      </p>
    </div>
  </div>

  <div style="margin-top:-20px">
    <footer>
        <center>
          <p style=" line-height: 18px;">
             14 avenida 19-50 Zona 4 de Mixco, Condado el Naranjo. OfiBodegas San Sebastián, Bodega 36 Guatemala.<br />
             +502 24352739/ 24319639<br />
             Email: info@funsepa.org www.funsepa.org
          </p>
        </center>
    </footer>
  </div>
</body>


<style type="text/css">

@page{
  margin-top: 0mm;
  margin-bottom: 0mm;
}

body{
  margin-top: 50px;
  margin-left: 1cm;
  margin-right: 8mm;

  font-size: 16.5px;
  z-index: 1;
  font-family: "Arial"
}

footer{
  color: #D3D3D3;
  margin-top: 30px;
}

.encabezado{ 
align: center;
z-index: 0;
}

h6{
  font-weight: normal;
  font-style: normal;
}
.img-container{
  text-align: center;
}

p{
  line-height: 24px;
  font-size: 16px;
}

</style>
</html>
{% block extra_js %}
<script>
//window.onload= function () { window.print();window.close();   }
</script>
{% endblock extra_js %}
