{% extends 'base/base.html' %}
{% load staticfiles widget_tweaks %}

{% block page_title %}
    <title>Revisión de la salida {{ object.salida }}</title>
{% endblock %}
{% block content %}
{% if not object.aprobada %}
    <section class="content">
        <div class="row">
            <div class="col-md-7">
              <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Paquetes Aprobados de la Salida {{object.aprobada}}</h3>
                </div>
                <div  id="paquetes-revision" class="box-body table-responsive " data-redirect="{%url 'revisionsalida_list'%}" data-urlhistorico="{% url 'historico_salida' %}" data-urlrechazar="{% url 'inventario_api:api_dispositivopaquete-rechazar-conta-dispositivos'%}" data-urlaprobar="{% url 'inventario_api:api_dispositivopaquete-aprobar-conta-dispositivos'%}" data-url="{% url 'inventario_api:api_dispositivopaquete-list' %}" data-id="{{ object.salida.id }}">
                  <table>
                    <tr>
                      <th>
                        <label for="area_scanner">Area de Scanner:</label>
                      </th>
                      <td>
                        <input id="area_scanner" class="form-control" type="text" name="area_scanner" style="width:50%">
                      </td>
                    </tr>
                  </table>
                  <br/>
                  <br/>
                  <table id="salida-paquetes-revision" class="display compact table table-striped table-hover table-bordered table-condensed " >
                      <thead>
                        <tr>
                          <th>Triage</th>
                          <th>Tipo</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="paquetes-revision-table-body">
                      </tbody>
                    </table>
                </div>
              </div>
              <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Dispositivos Aprobados de la Salida</h3>
                </div>
                <div  id="dispositivo-paquete-revision" class="box-body table-responsive ">

                  <table id="dispositivo-salida-paquetes-revision" class="display compact table table-striped table-hover table-bordered table-condensed " >
                      <thead>
                        <tr>
                          <th>Triage</th>
                          <th>Tipo</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="dispositivo-revision-table-body">
                      </tbody>
                    </table>
                </div>
              </div>
              <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Paquetes Diponibles de Kardex</h3>
                </div>
                <div  id="paquetes-revision-kardex" class="box-body table-responsive " data-urlhistorico="{% url 'historico_salida' %}" data-urlrechazar="{% url 'inventario_api:api_dispositivopaquete-rechazar-conta-dispositivos'%}" data-urlaprobar="{% url 'inventario_api:api_dispositivopaquete-aprobar-conta-dispositivos'%}" data-url="{% url 'inventario_api:api_paquete-list' %}" data-id="{{ object.salida.id }}">
                  <table id="salida-paquetes-revision-kardex" class="display compact table table-striped table-hover table-bordered table-condensed " >
                      <thead>
                        <tr>
                          <th>Paquete</th>
                          <th>Tipo</th>
                          <th>Cantidad</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="paquetes-revision-table-body">
                      </tbody>
                    </table>
                </div>
              </div>
              <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Paquetes Aprobados de Kardex</h3>
                </div>
                <div  id="dispositivo-paquete-revision-kardex" class="box-body table-responsive ">
                  <table id="dispositivo-salida-paquetes-revision-kardex" class="display compact table table-striped table-hover table-bordered table-condensed " >
                      <thead>
                        <tr>
                          <th>Paquete</th>
                          <th>Tipo</th>
                          <th>Cantidad</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="dispositivo-revision-table-body">
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
           <!---->
            <div class="col-md-5">
                <div class="box">
                    <div class="box-header">
                      <div class="row">
                        <div class="col-md-8">
                            <h3 class="box-title">Revisión de la salida {{ object.salida }}</h3>
                        </div>
                        <div class="col-md-4">
                            {% if not object.aprobada == True %}
                                <button id="aprobar-btn" class="btn btn-danger"  data-url="{% url 'inventario_api:api_revisionsalidas-list' %}">Finalizar</button>
                            {% endif %}
                        </div>
                      </div>

                    </div>
                    <div class="box-body">
                        <table class="table table-condensed ">                                                       
                        
                                <tbody id="body-salidas-{{form.instance.id}}">   
                                      {% if object.salida.tipo_salida.id == 4 %}
                              <tr>
                                  <th>Beneficiario</th>
                                  <td>{{ object.salida.beneficiario }}</a></td>
                              </tr>
                              {% else %}
                              <tr>
                                  <th>Codigo escuela</th>
                                  <td><a href="{{ object.salida.escuela.get_absolute_url }}">{{ object.salida.escuela.codigo }}</a></td>
                              </tr>
                              {% endif %}

                                <tr>
                                    <th>Fecha de revisión</th>
                                    <td>{{ object.fecha_revision|date:"Y-m-d" }}</td>
                                </tr>
                                <tr>
                                    <th>Revisión creada por</th>
                                    <td>{{ object.revisado_por.get_full_name }}</td>
                                </tr>
                               
                                <form action="{{ action }}" method="post">
                                  {% csrf_token %}                        
                                {{ form.as_table }}
                                <tr>
                                    <td colspan="2">
                                        <input type="submit" value="Guardar" class="btn btn-success pull-right">
                                    </td>
                                </tr>
                                <tr>
                              
                        </form>
                                <tr>
                                  <th>
                                    Histórico
                                  </th>
                                </tr>                                                            
                                </tbody>                               
                            </table>                 
                                 
                                {%for comentario in revisionsalida.comentarios.all%}
                                 <tr>
                                   <td>
                                     {{comentario.comentario}} </br>
                                   </td>
                                   <td>
                                     <small>{{comentario.fecha|date:'d/m/y'}}, {{comentario.usuario.perfil}}</small>
                                   </td>
                                 </tr>
                                 {%endfor%}                                                      
                    </div>
                </div>
            </div>
           <!---->  
        <div class="col-md-5">
                <div class="box">
                 <div class="box-header"> 
                            <h3 class="box-title">Historico Salida</h3>
                  </div>                   
                    <div class="box-body">                        
                               {% for conta in comentario_cc  %}
                                  Dispositivo {{conta}} <br>
                                {% endfor %}                                                     
                    </div>
                </div>
            </div> 
        </div>
    </section>
{% endif %}
{% endblock content%}
{% block extra_js %}
{% include "base/dataTables.html" %}
<script src="{% static "js/extrajs/inventario.js" %}"></script>
<script src="{% static "js/i18n/es.js" %}"></script>
<script>
 let PaquetesRevision = new PaquetesRevisionList();
 $("#area_scanner").focus();
</script>
{% endblock extra_js %}
