{% extends "base/base.html" %}
{% load widget_tweaks %}

{% block content %}
<section class="content-header">
	<h1>Crear una nueva escuela</h1>
</section>

<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<table class="table box box-primary">
					<form action="{{action}}" method="post">
						{% csrf_token %}
						{% for field in form %}
						<tr>
							<td>{{field.label}}</td>
							<td>{{ field|add_class:"form-control" }}</td>
						</tr>
						{% endfor %}
						<tr>
							<td><input type="submit" value="Guardar" class="btn btn-primary"></td>
						</tr>
					</form>
				</table>
			</div>
		</div>
	</div>
</section>
{% endblock content %}