{% extends "base/base.html" %}

{% load widget_tweaks %}

{% block page_title %}
<title>Buscar escuela</title>
{% endblock page_title %}

{% block content %}
<section class="content-header">
	<h1>Cooperantes</h1>
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<form action="{{action}}" method="post" id="form_buscar_escuela" class="box">
					{% csrf_token %}
					<table class="table table-striped table-hover">
						{% for field in form %}
						<tr>
							<th>{{ field.label }}</th>
							<td>{{ field|add_class:"form-control"}}</td>
						</tr>
						{% endfor %}
						
						<tr>
							<td><button>Buscar</button></td>
						</tr>
					</table>
				</form>
				<table id="tabla_resultado"></table>
			</div>
			<div class="col-md-9">
				<div class="table-responsive box">
					<table class="table table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th>UDI</th>
								<th>Nombre</th>
								<th>Dirección</th>
								<th>Municipio</th>
								<th>Departamento</th>
							</tr>
						</thead>
						<tbody id="tbody-escuela">
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}