{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}
<form action="{{ action }}" method="post">
	<table class="table table-striped">
		{% csrf_token %}
		{{ form.as_table }}
	</table>
	<table class="table table-bordered table-striped" id="telefono_table">
		<tbody>
			{% for form_telefono in named_formsets.telefono.forms %}
			<tr id="{{form_telefono.prefix}}-row" class="form-container-telefono">
				<td>Teléfono</td>
				{{ form_telefono.id }}
				<td>
				{% if form_telefono.instance.pk %}{{ form_telefono.DELETE }}{% endif %}
				{{form_telefono.telefono}}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<table class="table table-bordered table-striped" id="mail_table">
		<tbody>
			{% for form_mail in named_formsets.mail.forms %}
			<tr id="{{form_mail.prefix}}-row" class="form-container-mail">
				<td>Correo electrónico</td>
				{{ form_mail.id }}
				<td>
				{% if form_mail.instance.pk %}{{ form_mail.DELETE }}{% endif %}
				{{form_mail.mail}}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<tr>
		<td><input type="submit" value="Guardar"></td>
	</tr>
	{{ named_formsets.telefono.management_form }}
	{{ named_formsets.mail.management_form }}

</form>
{% endblock content %}

{% block extra_js %}
<script src="{% static "js/jquery.formset.js" %}"></script>
<script type="text/javascript">
	$(function() {
		$('#telefono_table tbody tr').formset({
			prefix: "{{ named_formsets.telefono.prefix }}"
		});
		$('#mail_table tbody tr').formset({
			prefix: "{{ named_formsets.mail.prefix }}"
		});
		$('table.form-container-telefono').formset({
			prefix: "{{ named_formsets.telefono.prefix }}",

		});
		$('table.form-container-mail').formset({
			prefix: "{{ named_formsets.mail.prefix }}",

		});
	});
</script>
{% endblock extra_js %}