{% extends "base/base.html" %}
{% load staticfiles %}

{% block page_title %}
{% if form.instance.pk %}
<title>{{form.instance.nombre}} {{form.instance.apellido}}</title>
{% else %}
<title>Contacto de escuela</title>
{% endif %}
{% endblock page_title %}


{% block content %}
<section class="content-header">
	<h1>Contacto de escuela</h1>
</section>
<section class="content">
	<div class="row-fluid">
		<div class="col-md-12">
			<form action="{{ action }}" class="box" method="post">
				<table class="table table-striped">
					{% csrf_token %}
					{{ form.as_table }}
					<tbody id="telefono_table">
						{% for form_telefono in named_formsets.telefono.forms %}
						{{form_telefono.non_field_errors}}
						<tr>
							<th>Teléfono</th>
								{{form_telefono.id}}
							<td>
								{{form_telefono.telefono.errors}}
								{{form_telefono.telefono}}
								{% if form_telefono.instance.pk %}
									{{ form_telefono.DELETE }}<label for="{{form_telefono.DELETE.id_for_label}}">
										¿Eliminar?
									</label>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
					<tbody id="mail_table">
						{% for form_mail in named_formsets.mail.forms %}
						<tr>
							{{form_mail.id}}
							<th>Correo electrónico</th>
							<td>
								{{form_mail.mail.errors}}
								{{form_mail.mail}}
								{% if form_mail.instance.pk %}
									{{ form_mail.DELETE }} ¿Eliminar?
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
					<tr>
						<td class="pull-right"><input type="submit" class="btn btn-primary" value="Guardar"></td>
					</tr>
				</table>
				{{ named_formsets.telefono.management_form }}
				{{ named_formsets.mail.management_form }}

			</form>
		</div>
	</div>
</section>
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}