{% extends "base/base.html" %}

{% load telefonica %}
{% load staticfiles %}

{% block page_title %}
<title>{{ escuela }}</title>
{% endblock page_title %}

{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body box-profile">
						<h3 class="profile-username text-center">{{ escuela }}</h3>
						<h4 class="text-center">{{ escuela.codigo }}</h4>
						<h6 class="text-center"><i class="fa fa-map-marker margin-r-5"></i> {{ escuela.direccion }}</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">
							{% if perms.escuela.change_escuela %}
							<a href="{% url 'escuela_update' pk=escuela.id%}" class="btn btn-info btn-xs">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</a>
							{% endif %}
							Información
						</h3>
					</div>
					<div class="box-body">
						<strong><i class="fa fa-map-marker margin-r-5"></i> Departamento</strong>
						<p class="text-muted">{{ escuela.municipio.departamento }}</p>
						<strong><i class="fa fa-map-marker margin-r-5"></i> Municipio</strong>
						<p class="text-muted">{{ escuela.municipio.nombre }}</p>
						<strong><i class="fa fa-phone-square margin-r-5"></i> Teléfono</strong>
						<p class="text-muted">{{ escuela.telefono }}</p>
						<strong><i class="fa fa-bars margin-r-5"></i> Nivel</strong>
						<p class="text-muted">{{ escuela.nivel }}</p>
						<strong><i class="fa fa-sun-o margin-r-5"></i> Área</strong>
						<p class="text-muted">{{ escuela.area }}</p>
						<strong><i class="fa fa-clock-o margin-r-5"></i> Jornada</strong>
						<p class="text-muted">{{ escuela.jornada }}</p>
						<strong><i class="fa fa-book margin-r-5"></i> Modalidad</strong>
						<p class="text-muted">{{ escuela.modalidad }}</p>
						<strong><i class="fa fa-calendar margin-r-5"></i> Plan</strong>
						<p class="text-muted">{{ escuela.plan }}</p>
						<strong><i class="fa fa-bookmark-o margin-r-5"></i> Sector</strong>
						<p class="text-muted">{{ escuela.sector }}</p>
						<strong><i class="fa fa-exclamation-circle margin-r-5"></i> Status</strong>
						<p class="text-muted">{{ escuela.status }}</p>
						<hr>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs nav-justified">
								<li class="active">
									<a href="#capacitacion" data-toggle="tab"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Capacitación</a>
								</li>
								<li>
									<a href="#monitoreo" data-toggle="tab"><i class="fa fa-search" aria-hidden="true"></i> Monitoreo</a>
								</li>
								<li>
									<a href="#equipamiento" data-toggle="tab"><i class="fa fa-television" aria-hidden="true"></i> Equipamiento</a>
								</li>
								<li>
									<a href="#contactos" data-toggle="tab"><i class="fa fa-user" aria-hidden="true"></i> Contactos</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="capacitacion">
								</div>

								<div class="tab-pane" id="monitoreo">
									{% if not solicitud_form %}
									{% for solicitud in escuela.solicitud.all %}
									<div class="box box-info box-solid collapsed-box">
										
										<div class="box-header with-border">
											<h3 class="box-title">No {{solicitud.id}} - {{solicitud.fecha}}</h3>
											<div class="box-tools pull-right">
												<a href="{% url "escuela_solicitud_update" pk=escuela.id id_solicitud=solicitud.id %}"><i class="fa fa-pencil"></i></a>
												<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
												</button>
											</div>
										</div>

										<div class="box-body">
											<table class="table">
												<tr>
													<th>Fecha:</th>
													<td>{{ solicitud.fecha }}</td>
												</tr>
												<tr>
													<th>Jornadas que funcionan en la escuela:</th>
													<td>{{ solicitud.jornada }}</td>
												</tr>
												<tr>
													<th>La escuela fue EDF:</th>
													<td>
														{% if solicitud.edf %}
														Sí
														{% else %}
														No
														{% endif %}
													</td>
												</tr>
												<tr>
													<th>Tiene laboratorio actualmente:</th>
													<td>
														{% if solicitud.lab_actual %}
														Sí
														{% else %}
														No
														{% endif %}
													</td>
												</tr>
												<tr>
													<th>Población estudiantil (Mujer / Hombre)</th>
													<td>{{solicitud.alumna}} / {{solicitud.alumno}}</td>
												</tr>
												<tr>
													<th>Población docente (Mujer / Hombre)</th>
													<td>{{solicitud.maestra}} / {{solicitud.maestro}}</td>
												</tr>
												<tr>
													<th>Observaciones</th>
													<td>{{ solicitud.observacion }}</td>
												</tr>
												<tr>
													<th>Requerimientos</th>
													<td>
														<ul class="todo-list">
															{% for requisito in solicitud.listar_requisito %}
															<li>
																<input disabled="disabled" type="checkbox" {% if requisito.cumple %}checked {% endif %}>
																<span class="text">{{ requisito.requisito }}</span>
															</li>
															{% endfor %}
														</ul>
													</td>
												</tr>
												<tr>
													<th>Por qué medios se enteró de nosotros</th>
													<td>
														<ul>
															{% for medio in solicitud.medio.all %}
															<li>
																{{medio}}
															</li>
															{% endfor %}
														</ul>
													</td>
												</tr>
											</table>
										</div>
									</div>
									{% endfor %}
									<input onclick="$('#form-nueva-solicitud').toggle();" type="submit" class="btn btn-primary" value="Nueva solicitud">
									{% endif %}
									<form method="post" role="form" action="{% url "solicitud_add" %}" id="form-nueva-solicitud">
										{% csrf_token %}
										{{ solicitud_nueva_form.as_p }}
										<input type="submit" class="btn btn-success" value="Crear">
									</form>

									{% if solicitud_form %}
									<div class="box box-info box-solid">
										<div class="box-header with-border">
											<h3 class="box-title">No. {{solicitud_form.instance.id}} - {{solicitud_form.instance.fecha}}</h3>
											<div class="box-tools pull-right">
												<a href="{% url "escuela_detail" pk=escuela.id %}">
												<i class="fa fa-times"></i>
												</a>
											</div>
										</div>
										<div class="box-body">
											<form action="{% url "solicitud_update" pk=solicitud_id %}" method="post" role="form">
												{% csrf_token %}
												<table class="table table-hover table-striped">
													{{ solicitud_form.as_table }}
													<tr>
														<td>
															<input type="submit" class="btn btn-success" value="Guardar">  
															<a href="{% url "escuela_detail" pk=escuela.id %}" class="btn btn-danger">Cancelar</a>
														</td>
													</tr>
												</table>
											</form>
										</div>
									</div>
									{% endif %}
								</div>

								<div class="tab-pane" id="equipamiento">
									<h3>Cooperantes</h3>
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Cooperante</th>
												<th>Fecha en que se unió</th>
											</tr>
										</thead>
										{% for asignacion in escuela.asignacion_cooperante.all|dictsort:"fecha_activacion" %}
										{% if asignacion.activa %}
										<tr>
											<td>
												<a href="{% url "cooperante_detail" pk=asignacion.cooperante.id %}">
													{{ asignacion.cooperante}}
												</a>
											</td>
											<td> {{asignacion.fecha_activacion}} </td>
										</tr>
										{% endif %}
										{% endfor %}
									</table>
									{% if perms.mye_add_escuela_cooperante %}
									<a href="{% url "escuela_cooperante_add" pk=escuela.id %}" class="btn btn-info">Editar cooperantes</a>
									{% endif %}

									<h3>Proyectos</h3>
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Proyecto</th>
												<th>Fecha en que se asignó</th>
											</tr>
										</thead>
										{% for asignacion in escuela.asignacion_proyecto.all|dictsort:"fecha_activacion" %}
										{% if asignacion.activa %}
										<tr>
											<td>
												<a href="{% url "proyecto_detail" pk=asignacion.proyecto.id %}">
													{{ asignacion.proyecto}}
												</a>
											</td>
											<td> {{asignacion.fecha_activacion}} </td>
										</tr>
										{% endif %}
										{% endfor %}
									</table>
									{% if perms.mye_add_escuela_proyecto %}
									<a href="{% url "escuela_proyecto_add" pk=escuela.id %}" class="btn btn-info">Editar proyectos</a>
									{% endif %}
								</div>

								<div class="tab-pane" id="contactos">
									<h4>
										<a class="btn btn-success" href="{% url "escuela_contacto_add" id_escuela=escuela.id %}">
											<i class="fa fa-plus" aria-hidden="true"></i> Nuevo
										</a>
									</h4>
									{% for contacto in escuela.contacto.all %}
									<div class="box box-widget widget-user-1">
										<div class="widget-user-header">
											<h3 class="widget-user-username">
												{{ contacto }}
												{% if perms.escuela.change_esccontacto %}
												<a href="{% url 'escuela_contacto_edit' id_escuela=escuela.id pk=contacto.id%}" class="btn btn-info btn-xs">
													<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
												</a>
												{% endif %}
											</h3>
											<h5 class="widget-user-desc">{{ contacto.rol }}</h5>
										</div>
										<div class="box-footer no-padding">
											<table class="table table-hover">
												<tr>
													<td>Teléfono</td>
													<td>
														{% for telefono in contacto.telefono.all %}
														<a href="tel:{{telefono}}"><span class="pull-right badge bg-{{telefono.empresa|telefonica}}">{{ telefono }}</span></a>
														{% endfor %}
													</td>
												</tr>
												<tr>
													<td>Correo</td>
													<td>
														{% for mail in contacto.mail.all %}
														<a href="mailto:{{mail}}">
															<span class="pull-right badge">{{ mail }}</span>
														</a>
														{% endfor %}
													</td>
												</tr>
											</table>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}

{% block extra_js %}
<script src="{% static "js/extrajs/escuela.js" %}"></script>
<script>
	$(document).ready(function () {
		{% if solicitud_form %}
		activar_tab('monitoreo');
		{% endif %}
	});
</script>
{% endblock extra_js %}