<div class="row">
    <div class="col-md-4">
        {% for capacitacion in escuela.info_capacitacion.all %}
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ capacitacion.sede|upper }}</h3>
                        </div>
                        <div class="box-body no-padding">
                            <table class="table table-condensed table-hover">
                                <tr>
                                    <th>Capacitador</th>
                                    <td>{{ capacitacion.capacitador }}</td>
                                </tr>
                                <tr>
                                    <th>Fecha de inicio</th>
                                    <td>{{ capacitacion.inicio }}</td>
                                </tr>
                                <tr>
                                    <th>Fecha de fin</th>
                                    <td>{{ capacitacion.fin }}</td>
                                </tr>
                                <tr>
                                    <th>Docentes capacitados</th>
                                    <td>{{ capacitacion.participantes }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for grafica in grafica_kalite %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid collapsed-box">
                    <div class="box-header bg-{{ grafica.color }}">
                        <h2 class="box-title">{{ grafica.nombre }}</h2>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" style="color:white !important;" aria-expanded="false">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body with-border">
                        <input type="text" value="{{ grafica.promedio }}" class="dial" data-max="100" data-width="180" data-fgColor="{{ grafica.color }}" readonly>
                    </div>
                 </div> 
            </div> 
        </div>
        {% endfor %}
    </div>
    <div class="col-md-8">
        <div class="box-group" id="accordion">
            <div class="panel box box-info">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#sedes_list"
                           aria-expanded="false" class="collapsed">
                            Sedes
                        </a>
                    </h4>
                </div>
                <div id="sedes_list" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Nombre</th>
                                            <th>Fecha</th>
                                            <th>Capacitador</th>
                                            <th>Escuelas Beneficiadas</th>
                                            <th>Capacitados</th>
                                            <th>Aprobados</th>
                                            <th>Reprobados</th>
                                            <th>A Nivelar</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% with escuela.get_sedes as sedes %}
                                            {% for sede in sedes.listado %}
                                                {% with sede.sede.get_participantes as participantes %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><a href="{{ sede.sede.get_absolute_url }}" target="_blank">{{ sede.sede.nombre }}</a></td>
                                                    <td>{{ sede.sede.fecha_creacion|date:"d-m-Y"}}</td>
                                                    <td>{{ sede.sede.capacitador.get_full_name }}</td>
                                                    <td>{{ sede.sede.get_escuelas.count }}</td>
                                                    <td>{{ participantes.listado.count }}</td>
                                                    <td>{{ participantes.resumen.estado.aprobado.cantidad }}</td>
                                                    <td>{{ participantes.resumen.estado.reprobado.cantidad }}</td>
                                                    <td>{{ participantes.resumen.estado.nivelar.cantidad }}</td>
                                                    <td>
                                                        {% if  sede.sede.fecha_creacion.year <= 2023 %}
                                                        <span class='label label-success'>Finalizado</span>
                                                        {% else %}
                                                            {% if sede.sede.finalizada%}
                                                            <span class='label label-success'>Finalizado</span>
                                                            {% else %}
                                                            <span class='label label-warning'>En Proceso</span>
                                                            {% endif %} 
                                                        {% endif %} 
                                                    </td>
                                                </tr>
                                                {% endwith %}
                                            {% endfor %}
                                        {% endwith %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel box box-danger">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#participantes_list"
                           aria-expanded="false" class="collapsed">
                            Participantes
                        </a>
                    </h4>
                </div>
                <div id="participantes_list" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                        {% include "cyd/participante_escuela_list.html" with participante_list=escuela.capacitacion %}
                    </div>
                </div>
            </div>
            <div class="panel box box-success">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#kalite_visitas" class="collapsed"
                           aria-expanded="false">
                            Seguimiento KA Lite
                        </a>
                    </h4>
                </div>
                <div id="kalite_visitas" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                        {% include "kalite/visita_list.html" with visita_list=escuela.visitas_kalite.all visita_kalite_nueva_form=visita_kalite_nueva_form %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>