{% extends "base/base.html" %}

{% load telefonica %}
{% load staticfiles %}

{% block page_title %}
<title>{{ escuela }}</title>
{% endblock page_title %}

{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body box-profile">
						<h3 class="profile-username text-center">{{ escuela }}</h3>
						<h4 class="text-center">{{ escuela.codigo }}</h4>
						<h6 class="text-center"><i class="fa fa-map-marker margin-r-5"></i> {{ escuela.direccion }}</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs nav-justified">
								<li class="active">
									<a href="#info" data-toggle="tab"><i class="fa fa-info" aria-hidden="true"></i> Información</a>
								</li>
								<li>
									<a href="#capacitacion" data-toggle="tab"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Capacitación</a>
								</li>
								<li>
									<a href="#evaluacion" data-toggle="tab"><i class="fa fa-search" aria-hidden="true"></i> Evaluación</a>
								</li>
								<li>
									<a href="#equipamiento" data-toggle="tab"><i class="fa fa-television" aria-hidden="true"></i> Equipamiento</a>
								</li>
								<li>
									<a href="#monitoreo" data-toggle="tab"><i class="fa fa-phone" aria-hidden="true"></i> Monitoreo</a>
								</li>
								<li>
									<a href="#contactos" data-toggle="tab"><i class="fa fa-user" aria-hidden="true"></i> Contactos</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="info">
									<div class="row">
										<div class="col-md-3 col-sm-3 col-xs-6">
											<div class="info-box bg-aqua">
												<span class="info-box-icon"><i class="fa fa-folder-open-o"></i></span>
												<div class="info-box-content">
													<span class="info-box-text">Solicitud</span>
													<span class="info-box-number"><h3>{% if escuela.solicitud.count > 0 %}Sí{% else %}No{% endif %}</h3></span>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6">
											<div class="info-box bg-yellow">
												<span class="info-box-icon"><i class="fa fa-check-square-o"></i></span>
												<div class="info-box-content">
													<span class="info-box-text">Validación</span>
													<span class="info-box-number"><h3>{% if escuela.validacion.count > 0 %}Sí{% else %}No{% endif %}</h3></span>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6">
											<div class="info-box bg-green">
												<span class="info-box-icon"><i class="fa fa-television"></i></span>
												<div class="info-box-content">
													<span class="info-box-text">Equipamiento</span>
													<span class="info-box-number"><h3>{% if escuela.equipamiento.count > 0 %}Sí{% else %}No{% endif %}</h3></span>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6">
											<div class="info-box bg-red">
												<span class="info-box-icon"><i class="fa fa-graduation-cap"></i></span>
												<div class="info-box-content">
													<span class="info-box-text">Capacitación</span>
													<span class="info-box-number"><h3></h3></span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<table class="table table-striped table-hover table-condensed">
												<tr>
													<th><i class="fa fa-map-marker"></i> Departamento</th>
													<td>{{ escuela.municipio.departamento }}</td>
												</tr>
												<tr>
													<th><i class="fa fa-map-marker"></i> Municipio</th>
													<td>{{ escuela.municipio.nombre }}</td>
												</tr>
												<tr>
													<th><i class="fa fa-bars"></i> Nivel</th>
													<td>{{ escuela.nivel }}</td>
												</tr>
												<tr>
													<th><i class="fa fa-bookmark-o"></i> Sector</th>
													<td>{{ escuela.sector }}</td>
												</tr>
												<tr>
													<th><i class="fa fa-sun-o"></i> Área</th>
													<td>{{ escuela.area }}</td>
												</tr>
												<tr>
													<th><i class="fa fa-clock-o"></i> Jornada</th>
													<td>{{ escuela.jornada }}</td>
												</tr>
												<tr>
													<th><i class="fa fa-calendar"></i> Plan</th>
													<td>{{ escuela.plan }}</td>
												</tr>
												<tr>
													<th><i class="fa fa-exclamation-circle"></i> Status</th>
													<td>{{ escuela.status }}</td>
												</tr>
												<tr>
													<th><i class="fa fa-book"></i> Modalidad</th>
													<td>{{ escuela.modalidad }}</td>
												</tr>
												<tr>
													<th><i class="fa fa-phone-square"></i> Teléfono</th>
													<td>{{ escuela.telefono }}</td>
												</tr>
												<tr>
													<th><i class="fa fa-map"></i> Coordenadas</th>
													<td>{{ escuela.mapa.lat }}, {{ escuela.mapa.lng }}</td>
												</tr>
												<tr>
													<th><i class="fa fa-info" aria-hidden="true"></i> Ficha escolar</th>
													<td>
														<a href="{{ escuela.get_ficha_escolar }}" class="btn btn-primary btn-xs" target="_blank">
															Ficha escolar <i class="fa fa-external-link" aria-hidden="true"></i>
														</a>
													</td>
												</tr>
												{% if perms.escuela.change_escuela %}
												<tr>
													<td colspan="2">
														<a href="{% url 'escuela_update' pk=escuela.id%}" class="btn btn-info btn-xs">
															<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
														</a>
													</td>
												</tr>
												{% endif %}
											</table>
										</div>
										<div class="col-md-6">
											<strong><i class="fa fa-user margin-r-5"></i> Población</strong>
											<div class="table-responsive">
												<table class="table table-striped table-condensed">
													<tr>
														<th>Alumnos</th>
														<th>Docentes</th>
														<th>Fecha</th>
													</tr>
													{% for poblacion in escuela.poblaciones.all|dictsortreversed:"fecha" %}
													<tr>
														<td>{{poblacion.total_alumno}}</td>
														<td>{{poblacion.total_maestro}}</td>
														<td>{{poblacion.fecha|date:"d/m/Y"|lower}}</td>
													</tr>
													{% endfor %}
												</table>
											</div>
											{% if escuela.mapa %}
												{% include "base/static-map.html" with latitud=escuela.mapa.lat longitud=escuela.mapa.lng %}
											{% endif %}
										</div>
									</div>
								</div>
								<div class="tab-pane" id="capacitacion">
								</div>

								<div class="tab-pane" id="evaluacion">
									{% comment %}
										PRE-SELECCIÓN
									{% endcomment %}
									<div class="row">
										<div class="col-md-12">
											<div class="box box-info {% if not escuela.reservada %}collapsed-box{% endif %}">
												<div class="box-header">
													<h3 class="box-title">Reservaciones</h3>
													<div class="box-tools pull-right">
														{% if escuela.reservada %}<span class="label label-success">Reservada</span>{% endif %}
														<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
													</div>
												</div>
												<div class="box-body">
													<div class="row">
														<div class="col-md-6">
															<table class="table">
																<thead>
																	<tr>
																		<th>
																		Cooperantes
																		{% if perms.mye.add_escuela_cooperante %}
																			<a href="{% url "escuela_cooperante_add" pk=escuela.id %}" class="btn btn-box-tool"><i class="fa fa-pencil"></i> Editar</a>
																		{% endif %}
																		</th>
																	</tr>
																</thead>
																<tbody>
																	{% for asignacion in escuela.asignacion_cooperante.all|dictsort:"fecha_activacion" %}
																		{% if asignacion.activa %}
																		<tr>
																			<td>
																				<a href="{{asignacion.cooperante.get_absolute_url}}">
																					{{ asignacion.cooperante}}
																				</a>
																			</td>
																		</tr>
																		{% endif %}
																	{% endfor %}
																</tbody>
															</table>
														</div>
														<div class="col-md-6">
															<table class="table table-striped">
																<thead>
																	<tr>
																		<th>
																			Proyectos
																			{% if perms.mye.add_escuela_proyecto %}
																				<a href="{% url "escuela_proyecto_add" pk=escuela.id %}" class="btn btn-box-tool"><i class="fa fa-pencil"></i> Editar</a>
																			{% endif %}
																		</th>
																	</tr>
																</thead>
																<tbody>
																	{% for asignacion in escuela.asignacion_proyecto.all|dictsort:"fecha_activacion" %}
																		{% if asignacion.activa %}
																		<tr>
																			<td>
																				<a href="{% url "proyecto_detail" pk=asignacion.proyecto.id %}">
																					{{ asignacion.proyecto}}
																				</a>
																			</td>
																		</tr>
																		{% endif %}
																	{% endfor %}
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="box box-info">
												<div class="box-header with-border">
													<h3 class="box-title"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Solicitudes</h3>
													<div class="box-tools pull-right">
														{% if perms.mye.add_solicitud %}
															<a href="#" onclick="$('#form-nueva-solicitud').toggle();" class="btn btn-box-tool">
																<i class="fa fa-plus"></i> Nueva solicitud
															</a>
														{% endif %}
														<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
													</div>
												</div>
												<div class="box-body no-padding">
													<div class="container-fluid">
														<form method="post" role="form" action="{% url "solicitud_add" %}" id="form-nueva-solicitud">
															<table class="table table-striped table-bordered">
																{% csrf_token %}
																{{ solicitud_nueva_form.as_table }}
																<tr>
																	<td colspan="2"><input type="submit" class="btn btn-success" value="Crear"></td>
																</tr>
															</table>
														</form>
														{% if not solicitud_form %}
															{% for solicitud in escuela.solicitud.all %}
																{% include "mye/solicitud_detail.html" with solicitud=solicitud %}
															{% endfor %}
														{% else %}
															{% include "mye/solicitud_form.html" with solicitud_form=solicitud_form%}
														{% endif %}
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="box box-warning">
												<div class="box-header">
													<h3 class="box-title"><i class="fa fa-check-square-o" aria-hidden="true"></i> Validaciones</h3>
													<div class="box-tools pull-right">
														{% if perms.mye.add_validacion %}
															<a href="#" onclick="$('#form-nueva-validacion').toggle();" class="btn btn-box-tool"><i class="fa fa-plus"></i> Nueva validación</a>
														{% endif %}
														<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
													</div>
												</div>
												<div class="box-body with-border">
													<form method="post" role="form" action="{% url "validacion_add" %}" id="form-nueva-validacion">
														<table class="table table-striped table-bordered">
															{% csrf_token %}
															{{ validacion_nueva_form.as_table }}
															<tr>
																<td colspan="2"><input type="submit" class="btn btn-success" value="Crear"></td>
															</tr>
														</table>
													</form>
													{% if not validacion_form %}
														{% for validacion in escuela.validacion.all %}
															{% include "mye/validacion_detail.html" with validacion=validacion%}
														{% endfor %}
													{% endif %}
													{% comment %}
														Formulario de validación
													{% endcomment %}
													{% if validacion_form %}
														{% include "mye/validacion_form.html" with validacion_form=validacion_form %}
													{% endif %}
												</div>
											</div>
										</div>
									</div>
									
								</div>

								<div class="tab-pane" id="equipamiento">
									{% if not equipamiento_form %}
										{% for equipamiento in escuela.equipamiento.all %}
											{% include "tpe/equipamiento_detail.html" with equipamiento=equipamiento equipamiento_detail=equipamiento_detail %}
										{% endfor %}
										{% if perms.tpe.add_equipamiento %}
											<input onclick="$('#form-nuevo-equipamiento').toggle();" type="submit" class="btn btn-primary" value="Nuevo equipamiento">
											<form method="post" role="form" action="{% url "equipamiento_add" %}" id="form-nuevo-equipamiento">
												{% csrf_token %}
												{{ equipamiento_nuevo_form.as_p }}
												<input type="submit" class="btn btn-success" value="Crear">
											</form>
										{% endif %}
									{% endif %}
									{% if equipamiento_form %}
										{% include "tpe/equipamiento_form.html" with equipamiento_form=equipamiento_form %}
									{% endif %}
								</div>

								<div class="tab-pane" id="monitoreo">
									{% for monitoreo in escuela.equipamiento.all|dictsort:"id" %}
										{% include "mye/monitoreo_detail.html" with monitoreo=monitoreo %}
									{% endfor %}
								</div>

								<div class="tab-pane" id="contactos">
									<h4>
										<a class="btn btn-success" href="{% url "escuela_contacto_add" id_escuela=escuela.id %}">
											<i class="fa fa-plus" aria-hidden="true"></i> Nuevo
										</a>
									</h4>
									<div class="row">
										<div class="col-md-12">
											{% include "escuela/contacto_list.html" with contacto_list=escuela.contacto.all %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}

{% block extra_js %}
<script src="{% static "js/extrajs/escuela.js" %}"></script>
<script>
	$(document).ready(function () {
		{% if solicitud_form or validacion_form or validacion_detail %}
			activar_tab('evaluacion');
		{% endif %}
		{% if equipamiento_form or equipamiento_detail %}
			activar_tab('equipamiento');
		{% endif %}
	});
	PerfilEscuela.init();
</script>
{% endblock extra_js %}