{% extends "base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<section class="content-header">
	<h1>Evento</h1>
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs nav-justified">
						
						<li class="active">
							<a href="#listempresa" data-toggle="tab"><i class="fa fa-list-ul"></i> Listado de Eventos</a>
						</li>
						<li>
							<a href="#addempresa" data-toggle="tab"><i class="fa fa-calendar-plus-o"></i> Agregar Evento</a>
						</li>

					</ul>

					<div class="tab-content">
						
						<div class="tab-pane active" id="listempresa">
							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-10">
									<div class="box box-primary">
										<div class="box-header">
											<div class="box-title">Listado de Eventos</div>

											<div class="box-body">
												<div class="row">
													<div class="col-md-12">
														<div class="table-responsive">
															<table class="table table-datatables table-bordered table-hover ">
																<thead>
																	<tr>
																		<th>ID</th>
																		<th>Nombre</th>
																		<th>Tipo de evento</th>
																		<th>Dirección</th>
																		<th>Fecha</th>
																	</tr>
																</thead>
																<tbody>
																	{% for i in lista %}
																	<tr>
																		<td>{{i.id}}</td> 
																		<td>{{i}}</td>
																		<td>{{i.tipo_de_evento}}</td>
																		<td>{{i.direccion}}</td>
																		<td>{{i.fecha}}</td>
																	</tr>
																	{% endfor %}
																</tbody>
																<tfoot>
																	<tr>
																		<th>ID</th>
																		<th>Nombre</th>
																		<th>Tipo de evento</th>
																		<th>Dirección</th>
																		<th>Fecha</th>
																	</tr>
																</tfoot>										
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-1"></div>
							</div>
						</div>

						<div class="tab-pane " id="addempresa">
							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-md-10">
									<div class="box box-navy">
										
										<div class="box-header">
											<div class="box-title">Agregar Evento</div>
										</div>

										<div class="box-body">
											<div class="row">
												<div class="col-md-1"></div>
												<div class="col-md-10">
													<div class="table-responsive">
														<table class="table table-hover table-striped table-bordered">
															<form method="POST" align="center" action="{{action}}">
																{% csrf_token %}
																{% for field in form %}
																<tr>
																	<td>{{field.label}}</td>
																	<td>{{ field|add_class:"form-control" }}</td>
																</tr>
																{% endfor %}
																<tr>
																	<td></td>
																	<td> <input type="submit" class="btn btn-primary" value="Guardar"> </td>
																</tr>
															</form>
														</table>
													</div>
												</div>
												<div class="col-md-1"></div>
											</div>
										</div>

									</div>
								</div>
								<div class="col-md-1"></div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</section>

{% endblock content %}
