{% extends "base/base.html" %}
{% load staticfiles %}
{% load certificado_extras %} 
{% block page_title %}
<title>Certificado de  cursos </title>
{% endblock page_title %}
{% block content %}
<section class="content">
	<div class="container-fluid">
    <img src="../../static/image/Logo_Funsepa-01.png" height="100" style="display:block; margin-left:auto; margin-right:auto;" >
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="box-header">
                    <h1 class="box-title"><b>{{ nombre }}</b></h1>
                </div>
                <div class="box-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Identificación</th>
                            <td>{{dpi}}</td>
                        </tr>
                        <tr>
                            <th>Rol</th>
                            <td>{{rol}}</td>
                        </tr>
                        <tr>
                            <th>Escuela</th>
                            <td>{{escuela}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{email}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Cursos Funsepa</h3>
                    <div class="box-tools pull-left">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="container-fluid">
                        {% for sede in sedes %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-info box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title"><a data-toggle="collapse" data-widget="collapse" href="#" aria-expanded="false" class="collapsed">{{sede.sede}}</a></h3>
                                            <div class="box-tools pull-left">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            <div class="table-responsive">
                                                <table id="asignacion" class="table table-hover table-condensed table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%">Asignación</th>
                                                            <th width="40%">Curso</th>
                                                            <th width="15%">Fecha Inicial</th>
                                                            <th width="15%">Fecha Final</th>
                                                            <th width="10%">Nota</th>
                                                            <th width="10%"></th>
                                                            <th width="10%"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for asignacion in sede.asignaciones %}
                                                        <tr>
                                                            <td>{{ asignacion.numero_asignacion }}</td>
                                                            <td>{{ asignacion.curso }}</td>
                                                            <td>{{ asignacion.fecha_inicial }}</td>
                                                            <td>{{ asignacion.fecha_final }}</td>
                                                            <td>{{ asignacion.nota }}</td>
                                                            <td>
                                                                {% if asignacion.nota|to_number >=  asignacion.nota_minima|to_number %}
                                                                <span class='label label-success' style="font-size: 90% !important">Aprobado</span>
                                                                {% else %}
                                                                <span class='label label-danger' style="font-size: 90% !important">Reprobado</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {% if asignacion.nota|to_number >=  asignacion.nota_minima|to_number %}
                                                                    {% if asignacion.constancia and asignacion.year_const is True and sede.combo_completo is False%}
                                                                        <a class="btn btn-warning"  href="{% url 'constanciapdf'%}?dpi={{dpi}}&asignacion={{asignacion.numero_asignacion}}" target="_blank"><i class="fa fa-print"></i> Constancia</a>
                                                                     {% endif %}
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>
                                                                {% if sede.promedio|to_number >=  75 %}
                                                                    <span class='label label-primary' style="font-size: 95% !important">{{ sede.promedio|floatformat:2 }}</span>
                                                                {% else %}
                                                                    <span class='label label-danger' style="font-size: 95% !important">{{ sede.promedio|floatformat:2 }}</span>
                                                                {% endif %}
                                                            </td>
                                                            <td colspan="2">
                                                                {% if sede.year_cert is True %}
                                                                    {% if sede.combo_completo is True or sede.grupo == 2 or sede.grupo == 3 %}
                                                                        {% if sede.promedio|to_number >=  75 %}
                                                                            <a class="btn btn-warning"  href="{% url 'diplomapdf'%}?dpi={{dpi}}&sede={{sede.id}}&curso={{sede.grupo}}"><i class="fa fa-print"></i> Certificado</a> 
                                                                        {% else %}
                                                                            <span class='label label-danger' style="font-size: 90% !important">Reprobado</span>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>	          
	</div>
</section>
{% endblock content %} 
{% block extra_js %}
{% include "base/dataTables.html" %}
<script>
 $(document).ready(function (){
    $('#asignacion').DataTable({
        
    });
});
</script>
{% endblock extra_js %}