{% extends "beqt/dispositivo/base_detail.html" %}
{% block info_dispositivo %}
<div >
  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
          {% if object.estado.id == 1 or object.estado.id == 2  and object.etapa.id == 1 or object.etapa.id == 2 or object.etapa.id == 3 %}
      <a  target="_blank" href="{%url 'ups_beqt_edit' triage=object.triage %}" class="btn btn-block btn-warning">Editar</a>
      {%endif%}
    </div>
  </div>
</div>
    <tr>
        <th>Conexiones</th>
        <td>{{ object.conexiones|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Voltaje</th>
        <td>{{ object.voltaje|default_if_none:"" }} 
        
    </tr>   
{% endblock info_dispositivo %}
