{% extends "beqt/dispositivo/base_detail.html" %}
{% block info_dispositivo %}
<div >
  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
          {% if object.estado.id == 1 or object.estado.id == 2  and object.etapa.id == 1 or object.etapa.id == 2 or object.etapa.id == 3 %}
      <a  target="_blank" href="{%url 'tablet_protector_beqt_edit' triage=object.triage %}" class="btn btn-block btn-warning">Editar</a>
      {%endif%}
    </div>
  </div>
</div>
    <tr>
        <th>Compatibilidad</th>
        <td>{{ object.compatbilidad|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Color</th>
        <td>{{ object.color|default_if_none:"" }} 
            
        </td>
    </tr>

    <tr>
        <th>Material</th>
        <td>{{ object.materila|default_if_none:""}}</td>
    </tr>
    <tr>
        <th>Dimensiones</th>
        <td>{{ object.dimensiones |default_if_none:""}}</td>
    </tr>
{% endblock info_dispositivo %}
