{% extends "inventario/dispositivo/base_detail.html" %}


{% block info_dispositivo %}
<div >
  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
      <a href="{%url 'cpu_edit' triage=object.triage %}" class="btn btn-block btn-warning">Editar</a>
    </div>
  </div>
</div>
    <tr>
        <th>Procesador</th>
        <td>{{ object.procesador|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Versión de sistema</th>
        <td>{{ object.version_sistema|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Disco duro</th>
        <td>{{ object.disco_duro|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>RAM</th>
        <td>{{ object.ram|default_if_none:"" }} {{ object.ram_medida|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Servidor</th>
        <th>
            <input type="checkbox" name="servidor" disabled  {% if object.servidor %} checked {% endif %} />
        </th>
    </tr>
    <tr>
        <th>All In One</th>
        <th>
            <input type="checkbox" name="all_in_one" disabled  {% if object.all_in_one %} checked {% endif %} />
        </th>
    </tr>
{% endblock info_dispositivo %}
