{% extends "base/base.html" %}

{% load staticfiles %}

{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			{% for widget in widgets %}
				<div class="col-md-{{ widget.col|default:'6' }}">
				{% include widget.template_name with queryset=widget.queryset extra=widget.extra %}
				</div>
			{% if widget.col == '12' or forloop.counter|divisibleby:2 %}
			</div>
			<div class="row">
			{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
{% endblock content %}


{% block extra_css %}
	{% for widget in widgets %}
		{% for static_css in widget.media_css %}
			<link rel="stylesheet" type="text/css" href="{% static static_css %}">
		{% endfor %}
	{% endfor %}
{% endblock extra_css %}


{% block extra_js %}
	<script src="{% static "js/extrajs/index.js" %}"></script>
	{% for widget in widgets %}
		{% for static_js in widget.media_js %}
			<script src="{% static static_js %}"></script>
		{% endfor %}
	{% endfor %}

	<script>
		HomePage.init();
	</script>
{% endblock extra_js %}