{% extends "inventario/dispositivo/base_detail.html" %}

{% block info_dispositivo %}
<div >
  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
      {% if object.estado.id == 1 or object.estado.id == 2  and object.etapa == 1 or object.etapa == 2 or object.etapa == 3 %}
      <a href="{%url 'laptop_edit' triage=object.triage %}" class="btn btn-block btn-warning">Editar</a>
      {%endif%}
    </div>
  </div>
</div>
    <tr>
        <th>Procesador</th>
        <td>{{ object.procesador|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Versión de sistema</th>
        <td>{{ object.version_sistema|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Disco duro</th>
        <td>{{ object.disco_duro|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>RAM</th>
        <td>{{ object.ram|default_if_none:"" }} {{ object.ram_medida|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Pulgadas</th>
        <td>{{ object.pulgadas }}</td>
    </tr>

{% endblock info_dispositivo %}
