<div class="row">
	<div class="col-md-12">
		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title">Capacitaciones este año</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<div class="chart">
					<canvas id="capacitacion_chart" style="height: 230px; width: 485px;" height="230" width="485" data-url="{% url 'capacitacion_list_home' %}"></canvas>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-green"><i class="fa fa-university"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Escuelas Capacitadas</span>
						<span class="info-box-number">{{ extra.capacitacion_total }}</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-navy"><i class="fa fa-globe"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Departamentos <br>alcanzados</span>
						<span class="info-box-number">{{ extra.departamentos_total }}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-aqua"><i class="fa fa-users" aria-hidden="true"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Maestros<br>beneficiados</span>
						<span class="info-box-number">{{ extra.maestros_total }}</span>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-red"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Maestros<br>aprobados</span>
						<span class="info-box-number">{{ extra.aprobados_total }}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-teal"><i class="fa fa-user-times"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Maestros<br>reprobados</span>
						<span class="info-box-number">{{ extra.reprobados_total }}</span>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-blue"><i class="fa fa-hand-o-up"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Maestros<br>a nivelar</span>
						<span class="info-box-number">{{ extra.nivelar_total }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>