{% for cooperante in request.user.cooperantes.all %}
<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-green"><i class="fa fa-truck"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Equipamientos</span>
				<span class="info-box-number">{{ cooperante.estadistica.equipamientos }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-teal"><i class="fa fa-laptop"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Computadoras<br>entregadas</span>
				<span class="info-box-number">{{ cooperante.estadistica.cantidad_equipo }}</span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-aqua"><i class="fa fa-child" aria-hidden="true"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Niños<br>beneficiados</span>
				<span class="info-box-number">{{ cooperante.estadistica.total_alumno }}</span>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-red"><i class="fa fa-user" aria-hidden="true"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">Maestros<br>beneficiados</span>
				<span class="info-box-number">{{ cooperante.estadistica.total_maestro }}</span>
			</div>
		</div>
	</div>
</div>
{% endfor %}