{% for cooperante in request.user.cooperantes.all %}
<div class="box box-success">
	<div class="box-header">
		<h3 class="box-title">Escuelas equipadas</h3>
	</div>
	<div class="box-body table-responsive">
		<table class="table table-striped table-hover table-datatables">
			<thead>
				<tr>
					<th>Entrega</th>
					<th>Escuela</th>
					<th>Departamento</th>
					<th>Municipio</th>
					<th>Fecha</th>
					<th>Niños beneficiados</th>
				</tr>
			</thead>
			<tbody>
				{% for equipamiento in cooperante.cooperante.equipamientos.all %}
				<tr>
					<td><a href="{{ equipamiento.get_absolute_url }}">{{ equipamiento }}</a></td>
					<td><a href="{{ equipamiento.escuela.get_absolute_url }}">{{ equipamiento.escuela }}</a></td>
					<td>{{ equipamiento.escuela.municipio.nombre }}</td>
					<td>{{ equipamiento.escuela.municipio.departamento }}</td>
					<td>{{ equipamiento.fecha|date:"Y-m-d"}}</td>
					<td>{{ equipamiento.poblacion.total_alumno }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endfor %}