<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Equipamientos este año</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<div class="chart">
					<canvas id="equipamiento_chart" style="height: 230px; width: 485px;" height="230" width="485" data-url="{% url 'equipamiento_list_home' %}"></canvas>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-green"><i class="fa fa-truck"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Equipamientos</span>
						<span class="info-box-number">{{ extra.equipamiento_total }}</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-olive"><i class="fa fa-users"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Equipamientos<br> de CCT</span>
						<span class="info-box-number">{{ extra.equipamiento_cct }}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-navy"><i class="fa fa-refresh"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Renovaciones</span>
						<span class="info-box-number">{{ extra.renovacion_total }}</span>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-aqua"><i class="fa fa-child" aria-hidden="true"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Niños<br>beneficiados</span>
						<span class="info-box-number">{{ extra.alumnos_total }}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-red"><i class="fa fa-user" aria-hidden="true"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Maestros<br>beneficiados</span>
						<span class="info-box-number">{{ extra.maestros_total }}</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-teal"><i class="fa fa-laptop"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Computadoras<br>entregadas</span>
						<span class="info-box-number">{{ extra.computadoras_total }}</span>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-blue"><i class="fa fa-wrench"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Reparaciones<br>realizadas</span>
						<span class="info-box-number">{{ extra.reparacion_total }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
