{% extends "base/base.html" %}

{% load staticfiles %}

{% block page_title %}
<title>{{curso}}</title>
{% endblock page_title %}

{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-4">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">{{ curso.nombre }}</h3>
					</div>
					<div class="box-body no-padding">
						<table class="table table-striped">
							<tr>
								<th>Nombre</th>
								<td>{{ curso.nombre }}</td>
							</tr>
							<tr>
								<th>Nota de aprobación</th>
								<td>{{ curso.nota_aprobacion }}</td>
							</tr>
							<tr>
								<th>Porcentaje de la capacitación</th>
								<td>{{ curso.porcentaje }}</td>
							</tr>
							<tr>
								<th>Asistencias</th>
								<td>{{ curso.asistencias.count}}</td>
							</tr>
							<tr>
								<th>Trabajos</th>
								<td>{{ curso.hitos.count}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Asistencias</h3>
					</div>
					<div class="box-body no-padding">
						<table class="table table-striped">
							{% for asistencia in curso.asistencias.all %}
								<tr>
									<td>{{ asistencia.modulo_num }}</td>
									<td>{{ asistencia.punteo_max }}</td>
								</tr>
							{% endfor %}
							<tr>
								<th>Total</th>
								<td>{{ curso.get_total_asistencia }}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Hitos</h3>
					</div>
					<div class="box-body no-padding">
						<table class="table table-striped">
							{% for hito in curso.hitos.all %}
								<tr>
									<td>{{ forloop.counter }}</td>
									<td>{{ hito.nombre }}</td>
									<td>{{ hito.punteo_max }}</td>
								</tr>
							{% endfor %}
							<tr>
								<th>Total</th>
								<td>{{ curso.get_total_hito }}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}