{% extends "base/base.html" %}

{% load staticfiles %}

{% block page_title %}
	<title>Listado de cursos</title>
{% endblock page_title %}

{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
			{% if perms.cyd.curso_add %}
				<a href="{% url 'curso_add' %}" class="btn btn-primary">Crear nuevo</a>
			{% endif %}
			</div>
			<div class="col-md-6">
				<table class="table table-striped box box-primary">
					{% for curso in curso_list %}
						<tr>
							<td>
								<a href="{{curso.get_absolute_url}}">{{curso}}</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</section>
{% endblock content %}