{% extends "base/base.html" %}

{% load staticfiles %}

{% block page_title %}
	<title>Listado de cursos</title>
{% endblock page_title %}

{% block content %}
<section class="content">
 {% csrf_token %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
			{% if perms.cyd.curso_add %}
				<a href="{% url 'curso_add' %}" class="btn btn-primary">Crear nuevo</a>
			{% endif %}
			</div>
			<div class="col-md-6">
				<table class="table table-striped box box-primary">
					{% for curso in curso_list %}
						{% if curso.activo %}
							<tr>
							<td>
								<a href="{{curso.get_absolute_url}}">{{curso}}</a>
							</td>
							<td>
								<a id="id_borrar_curso" data-nombre="{{curso}}" data-url="{%url 'curso_desactivar'%}"  data-id ={{curso.id}} class="btn btn-danger">Eliminar</a>
							</td>
						</tr>						
						{% endif %}												
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
{% block extra_js %}
<script src="{% static "js/extrajs/cyd.js" %}"></script>
<script>
let mas = new CursoList(); 
</script>
{% endblock extra_js %}