{% extends "base/base.html" %}

{% load staticfiles %}

{% block page_title %}
<title>Nuevo curso</title>
{% endblock page_title %}

{% block content %}
<section class="content-header">
	<h1>Nuevo curso</h1>
</section>
<section class="content">
	<div class="container-fluid">
		<div class="row-fluid">
			<form action="{{action}}" method="post">
				<div class="col-md-4">
					<table class="table table-striped box box-primary">
						{% csrf_token %}
						{{ form.as_table }}
						<tr>
							<td colspan="2" align="center">
								<input type="submit" value="Crear" class="btn btn-primary">
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-4">
					<table class="table table-striped box box-primary">
						<thead>
							<tr>
								<th align="center" colspan="2" class="lead">Asistencias</th>
							</tr>
							<tr>
								<th>Número</th>
								<th>Punteo</th>
							</tr>
						</thead>
						<tbody id="asistencia_table">
							{% for form_asistencia in asistencia_formset.forms %}
							<tr id="{{form_asistencia.prefix}}-row" class="form-container-asistencia">
								{{form_asistencia.non_field_errors}}
								<td>
									{{form_asistencia.id}}
									{{form_asistencia.modulo_num}}
								</td>
								<td>
									{{form_asistencia.punteo_max.errors}}
									{% if form_asistencia.instance.pk %}
									{{ form_asistencia.DELETE }}
									{% endif %}
									{{form_asistencia.punteo_max}}
								</td>
							</tr>
							{% endfor %}
						</tbody>
						{{ asistencia_formset.management_form }}
					</table>
				</div>
				<div class="col-md-4">
					<table class="table table-striped box box-primary">
						<tr>
							<th align="center" colspan="2" class="lead">Ejercicios</th>
						</tr>
						<tr>
							<th>Descripción</th>
							<th>Punteo máximo</th>
						</tr>
						<tbody id="hito_table">
							{% for form_hito in hito_formset.forms %}
							{{form_hito.errors}}
							<tr id="{{form_hito.prefix}}-row" class="form-container-hito">
								<td>
									{{ form_hito.id }}
									{{ form_hito.nombre }}
								</td>
								<td>
									{{form_hito.punteo_max}}
									{% if form_hito.instance.pk %}{{ form_hito.DELETE }}{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
						{{ hito_formset.management_form }}
					</table>
				</div>
			</form>
		</div>
	</div>
</section>
{% endblock content %}

{% block extra_js %}
<script src="{% static "js/jquery.formset.js" %}"></script>
{% endblock extra_js %}