{% extends "base/base.html" %}

{% load staticfiles has_group %}

{% block page_title %}
	<title>Listado de grupos</title>
{% endblock page_title %}

{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md12">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Listado de grupos</h3>
						{% if request.user|has_group:"cyd_capacitador" %}
							<span class="pull-right">
								<a href="{% url 'grupo_add' %}" class="btn btn-success">Nuevo grupo</a>
							</span>
						{% endif %}
					</div>
					<div class="box-body table-responsive">
						<table class="table table-datatables">
							<thead>
								<tr>
									<th>Sede</th>
									<th>Número</th>
									<th>Curso</th>
									<th>Participantes</th>
									<th>Capacitador</th>
								</tr>
							</thead>
							<tbody>
								{% for grupo in grupo_list %}
								<tr>
									<td>
										<a href="{{ grupo.sede.get_absolute_url }}">{{ grupo.sede }}</a>
									</td>
									<td>
										<a href="{{ grupo.get_absolute_url }}">
											{{ grupo.numero }} - {{ grupo.curso }}
										</a>
									</td>
									<td>{{ grupo.curso }}</td>
									<td>{{ grupo.asignados.count }}</td>
									<td>{{ grupo.sede.capacitador.get_full_name }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}