{% extends "base/base.html" %}

{% load widget_tweaks %}

{% block page_title %}
<title>Grupo</title>
{% endblock page_title %}

{% block content %}
<section class="content-header">
	<h1>Nuevo grupo</h1>
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-4">
				<div class="box box-primary">
					<div class="box-body">
						<form action="{{action}}" method="post">
							{% csrf_token %}
							{% for field in form %}
							<div class="form-group">
								{{ field.label_tag }}
								{{ field|add_class:"form-control" }}
							</div>
							{% endfor %}
							<input type="submit" value="Crear" class="btn btn-primary">
						</form>
					</div>
				</div>
			</div>

			<div class="col-md-8">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Grupos en esta sede</h3>
					</div>
					<div class="box-body">
						<table class="table table-hover">
							
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}