{% extends "base/base.html" %}

{% load staticfiles editable_field %}
{% load staticfiles has_group %}

{% block page_title %}
<title>Grupo {{ grupo }}</title>
{% endblock page_title %}

{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body box-profile">
						<h3 class="profile-username text-center">{{ grupo }}</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Detalle</h3>
					</div>
					<div class="box-body no-padding">
						<table class="table">
							<tr>
								<th>Número</th>
								<td>{{ grupo.numero }}</td>
							</tr>
							<tr>
								<th>Descripción</th>
								<td>
									{% csrf_token %}
									<a href="#" class="editable" data-name="comentario" data-type="text" data-pk="{{ grupo.id }}" data-url="{% url 'grupo_api_detail' pk=grupo.id %}">
										{{ grupo.comentario }}
									</a>
								</td>
							</tr>
							<tr>
								<th>Curso</th>
								<td>{{ grupo.curso }}</td>
							</tr>
							<tr>
								<th>Capacitador</th>
								<td>{{ grupo.sede.capacitador.get_full_name }}</td>
							</tr>
							<tr>
								<th>Sede</th>
								<td>
									<a href="{{ grupo.sede.get_absolute_url }}">{{ grupo.sede }}</a>
								</td>
							</tr>
							<tr>
								<th>Cantidad de hombres</th>
								<td>{{ grupo.get_hombres }}</td>
							</tr>
							<tr>
								<th>Cantidad de mujeres</th>
								<td>{{ grupo.get_mujeres }}</td>
							</tr>
							<tr>
								<th>Total de asignados</th>
								<td>{{ grupo.asignados.count }}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<!-- Inicio sección de resumen -->
			<div class="col-md-6">
				<div class="row">
					<div class="col-sm-6">
						<div class="info-box bg-green">
							<span class="info-box-icon"><i class="fa fa-check"></i></span>
							<div class="info-box-content">
								<span class="info-box-text">Aprobados</span>
								<span class="info-box-number">{{ grupo.count_aprobados }}</span>
								<div class="progress">
									<div class="progress-bar" style="width: {{ grupo.get_porcentaje_aprobados|floatformat:0 }}%"></div>
								</div>
								<span class="progress-description">
									{{ grupo.get_porcentaje_aprobados|floatformat:2 }}% en total
								</span>
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="info-box bg-yellow">
							<span class="info-box-icon"><i class="fa fa-calendar"></i></span>
							<div class="info-box-content">
								<span class="info-box-text">Progreso</span>
								<span class="info-box-number">{{ grupo.get_progreso_asistencias.cantidad }} de {{ grupo.asistencias.count }}</span>
								<div class="progress">
									<div class="progress-bar" style="width: {{ grupo.get_progreso_asistencias.porcentaje|floatformat:0 }}%"></div>
								</div>
								<span class="progress-description">
									{{ grupo.get_progreso_asistencias.porcentaje|floatformat:2 }}% asistencias
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="box">
							<div class="box-body">
								<canvas id="grafico-asistencias" data-url="{% url 'calendario_api_list' %}" data-grupo_id="{{ grupo.id }}" style="height:100px;width: content-box;"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs nav-justified">
						<li class="active">
							<a href="#participantes" data-toggle="tab"><i class="fa fa-users" aria-hidden="true"></i> Participantes</a>
						</li>
						<li>
							<a href="#calendario" data-toggle="tab"><i class="fa fa-calendar" aria-hidden="true"></i> Calendario</a>
						</li>
						<li>
							<a href="#graficas" data-toggle="tab"><i class="fa fa-pie-chart" aria-hidden="true"></i> Graficas</a>
						</li>
					</ul>
					<div class="tab-content">
						<!-- Panel de participantes -->
						<div class="tab-pane active" id="participantes">
							{% if grupo.sede.capacitador == request.user %}
							<button id="btn-form-copiar" class="btn btn-primary btn-sm">Copiar</button> 
							<button id="btn-select-all" class="btn btn-info btn-sm form-copiar">Todos</button> 
							<button id="btn-select-none" class="btn btn-info btn-sm form-copiar">Ninguno</button>
							<form action="{% url 'asignacion_api_add' %}" method="" class="form-copiar form-inline" id="copiar-form" data-url="{%url 'asignacion_verificar_duplicidad'%}">
								{{ grupo_list_form }}
								<input type="submit" class="btn btn-success btn-sm" value="Copiar">
							</form>
							{% endif %}
							<table class="table table-striped table-condensed">
								<thead>
									<tr>
										<th>No.</th>
										<th>DPI</th>
										<th>Nombre</th>
										<th>Apellido</th>
										<th>Género</th>
										<th>Escuela</th>
										<th>Nota</th>
										<th>Resultado</th>
										{% if request.user|has_group:"cyd_capacitador" %}
										<th></th>
										{% endif %}
									</tr>
								</thead>
								<tbody>
									{% for asignacion in grupo.asignados.all %}
										<tr>
											<td class="td-participante" data-pk="{{ asignacion.participante.id }}">
												<a href="{{ asignacion.participante.get_absolute_url }}">{{ forloop.counter }}</a>
												<input type="checkbox" class="form-copiar check-participante" value="{{ asignacion.participante.id }}">
											</td>
											<td>
												{% url 'participante_api_update' pk=asignacion.participante.id as participante_editable_url %}
												{% editable_field value=asignacion.participante.dpi name="dpi" pk=asignacion.participante.id url=participante_editable_url editable=perms.cyd.change_participante %}
											</td>
											<td id="td-nombre-{{ asignacion.participante.id }}">
												{% url 'participante_api_update' pk=asignacion.participante.id as participante_editable_url %}
												{% editable_field value=asignacion.participante.nombre name="nombre" pk=asignacion.participante.id url=participante_editable_url editable=perms.cyd.change_participante %}
											</td>
											<td id="td-apellido-{{ asignacion.participante.id }}">
												{% url 'participante_api_update' pk=asignacion.participante.id as participante_editable_url %}
												{% editable_field value=asignacion.participante.apellido name="apellido" pk=asignacion.participante.id url=participante_editable_url editable=perms.cyd.change_participante %}
											</td>
											<td>
												{% url 'participante_api_update' pk=asignacion.participante.id as participante_editable_url %}
												{% editable_field value=asignacion.participante.genero name="genero" pk=asignacion.participante.id url=participante_editable_url editable=perms.cyd.change_participante data_type="select" source_list=genero_list source_id="id" source_text="genero" %}
											</td>
											<td>
												{% url 'participante_escuela_update' pk=asignacion.participante.id as participante_editable_url%}
												{% editable_field value=asignacion.participante.escuela name="udi" pk=asignacion.participante.id url=participante_editable_url editable=perms.cyd.change_participante %}
											</td>
											<td>{{ asignacion.nota_final }}</td>
											<td>
												{% if asignacion.aprobado %}
													<span class="badge bg-green">Aprobado</span>
												{% else %}
													<span class="badge bg-red">Reprobado</span>
												{% endif %}
											</td>
											{% if request.user|has_group:"cyd_capacitador" %}
											<td>
												<button class="eliminar-asignacion btn btn-danger"  data-asignacion="{{asignacion.id}}" data-ulr="{%url 'asignacion_desactivar'%}"><i class='fa fa-trash'></i> Eliminar</button>
											</td>
											{% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- Fin panel de participantes -->
						<!-- Inicio panel de calendario -->
						<div class="tab-pane" id="calendario">
							<table class="table table-striped table-condensed">
								<thead>
									<tr>
										<th>Asistencia</th>
										<th>Fecha</th>
										<th>Hora de inicio</th>
										<th>Hora de fin</th>
									</tr>
								</thead>
								<tbody>
									{% for asistencia in grupo.asistencias.all %}
									<tr>
										<td>{{ asistencia.cr_asistencia.modulo_num }}</td>
										<td>
											<a href="#" class="editable" data-name="fecha" data-type="text" data-pk="{{ asistencia.id }}" data-url="{% url 'calendario_api_detail' pk=asistencia.id %}" data-mode="inline" data-inputclass="datepicker">
												{{ asistencia.fecha|date:"Y-m-d" }}
											</a>
										</td>
										<td>
											<a href="#" class="editable" data-name="hora_inicio" data-type="text" data-pk="{{ asistencia.id }}" data-url="{% url 'calendario_api_detail' pk=asistencia.id %}">
												{{ asistencia.hora_inicio|default_if_none:"" }}
											</a>
										</td>
										<td>
											<a href="#" class="editable" data-name="hora_fin" data-type="text" data-pk="{{ asistencia.id }}" data-url="{% url 'calendario_api_detail' pk=asistencia.id %}">
												{{ asistencia.hora_fin|default_if_none:"" }}
											</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- Fin panel de calendario -->
						<!--Inico graficas-->
						<div class="tab-pane" id="graficas">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<canvas id="capacitacion_aprobados_chart" style="height: 230px; width: 485px;" height="230" width="485" data-url="{% url 'grafica_pastel_grupo' %}"></canvas>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<canvas id="capacitacion_genero_chart" style="height: 230px; width: 485px;" height="230" width="485" data-url="{% url 'capacitacion_list_home' %}"></canvas>
								</div>
							</div>
					
						</div>
						<!--Fin graficas-->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-editable.css' %}">
{% endblock extra_css %}


{% block extra_js %}
<script src="{% static 'js/bootstrap-editable.min.js' %}"></script>
<script src="{% static 'js/distributed/Chart.min.js' %}"></script>
<script src="{% static 'js/extrajs/cyd.js' %}"></script>
<script>
	GrupoDetail.init();
</script>
{% endblock extra_js %}