{% extends "base/base.html" %}

{% load staticfiles widget_tweaks %}

{% block page_title %}
<title>Crear participante</title>
{% endblock page_title %}
{% block content %}
<section class="content">
	<div class="row">
			<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Nuevo participante</h3>
				</div>
				<form class="form" id="form_participante" action="{% url 'participante_add_ajax' %}">
					{% csrf_token %}
					<div class="box-body">
						{% for field in form %}
						<div class="form-group">
							{{ field.label_tag }}
							{{ field|add_class:"form-control" }}
							<span class="help-block" id="{{ field.help_text }}"></span>
						</div>
						{% endfor %}
					</div>
					<div class="box-footer">
						<button type="submit" class="btn btn-success" id="btn-crear">Crear</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title">Otros participantes</h3>
				</div>
				<div class="box-body no-padding">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Escuela</th>
							</tr>
						</thead>
						<tbody id="tbody-listado"></tbody>
					</table>
				</div>
			</div>
		</div>	
	</div>
</section>
{% endblock content %}
{% block extra_js %}
<script src="{% static "js/extrajs/cyd.js" %}"></script>
<script>
	ParticipanteCrear.init();
</script>
{% endblock extra_js %}