{% extends "base/base.html" %}
{% load embed_gdrive_folder %}
{% load telefonica %}
{% load staticfiles editable_field has_group%}

{% block page_title %}
<title>{{ sede }}</title>
{% endblock page_title %}

{% block content %}
<section class="content">
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="box box-primary">
					<div class="box-body no-padding box-profile">
						<h2 class="profile-username text-center">{{ sede.nombre }}</h2>
						<p class="text-muted text-center">{{ sede.capacitador.get_full_name }}</p>
						{% csrf_token %}
						<table class="table">
							<tr>
								<th><i class="fa fa-university"></i> Escuela Beneficiada</b></th>
								<td><a href="{{ sede.escuela_beneficiada.get_absolute_url }}">{{ sede.escuela_beneficiada.nombre }}</a></td>
							</tr>
							<tr>
								<th><i class="fa fa-home"></i> Dirección</b></th>
								<td>{{ sede.direccion }}</td>
							</tr>
							<tr>
								<th><i class="fa fa-map-marker"></i> Municipio</th>
								<td>{{ sede.municipio.nombre }}</td>
							</tr>
							<tr>
								<th>Departamento</th>
								<td>{{ sede.municipio.departamento }}</td>
							</tr>
							<tr>
								<th>Observaciones</th>
								<td>{{ sede.observacion }}</td>
							</tr>
							<tr>
								<th>Fecha creacion</th>
								<td><b>{{ sede.fecha_creacion }}</b></td>
							</tr>
							{% if sede.finalizada %}
							<tr>
								<th>Fecha finalizacion</th>
								<td><b>{{ sede.fecha_finalizacion }}</b></td>
							</tr>
							{% else %}
							{% if perms.cyd.change_sede %}
							{% if request.user|has_group:"cyd_admin" or request.user|has_group:"cyd_capacitador" %}{% endif %}
							<tr>
								<td colspan="2">
									<a href="{% url 'sede_update' pk=sede.id %}" class="btn btn-primary btn-block">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
									</a>
								</td>
							</tr>
							
							<tr>
								<td colspan="2">
									<a id="finalizar-capacitacion" data-url="{% url 'sede_api_finalizar'  %}"  data-id={{sede.id}} class="btn btn-success btn-block">
										<i class="fa fa-check-square-o" aria-hidden="true"></i> Finalizar capacitacion
									</a>
								</td>
							</tr>
							{% endif %}
							{% endif %}
							
							
						</table>
					</div>
				</div>
				{% if sede.escuela_beneficiada.mapa.lat and sede.escuela_beneficiada.mapa.lng %}
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">
							Mapa
						</h3>
					</div>
					<div class="box-body no-padding">
						{% include "base/static-map.html" with latitud=sede.escuela_beneficiada.mapa.lat longitud=sede.escuela_beneficiada.mapa.lng %}
					</div>
				</div>
				{% endif %}
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs nav-justified">
								<li class="active">
									<a href="#participantes" data-toggle="tab"><i class="fa fa-user" aria-hidden="true"></i> Participantes</a>
								</li>
								<li>
									<a href="#grupos" data-toggle="tab"><i class="fa fa-users" aria-hidden="true"></i> Grupos</a>
								</li>
								<li>
									<a href="#asesorias" data-toggle="tab"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Asesorías</a>
								</li>
								<li>
									<a href="#escuelas" data-toggle="tab"><i class="fa fa-user" aria-hidden="true"></i> Escuelas</a>
								</li>
								<li>
									<a href="#contactos" data-toggle="tab"><i class="fa fa-phone" aria-hidden="true"></i> Contactos</a>
								</li>
                <li>
                  <a href="#fotos" data-toggle="tab"><i class="fa fa-picture-o" aria-hidden="true"></i> Fotos</a>
                </li>
                <li>
                  <a href="#archivos" data-toggle="tab"><i class="fa fa-file-archive-o" aria-hidden="true"></i>Archivos</a>
                </li>
                <li>
                  <a href="#linea" data-toggle="tab"><i class="fa fa-line-chart" aria-hidden="true"></i>Linea de Tiempo</a>
                </li>
				<li>
					<a href="#graficas" data-toggle="tab"><i class="fa fa-pie-chart" aria-hidden="true"></i>Graficas</a>
				  </li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="participantes">
									<div class="box-tools pull-right">
										{% if not sede.finalizada %}
											{% if perms.cyd.add_participante %}
											
											<a href="{% url 'participante_importar' %}" class="btn btn-success">
												<i class="fa fa-plus"></i> Agregar Participantes
											</a>
											{% endif %}
										{% endif %}
										
									</div>
								{% with sede.get_participantes as participantes %}
									<ul class="list-unstyled">
										<li>
										{% for rol in participantes.resumen.roles %}
										<b>{{ rol.nombre_rol }}</b>: {{rol.cantidad }},
										{% endfor %}
										</li>
										<li>
										{% for genero in participantes.resumen.genero %}
										<b>{{ genero.nombre_genero }}</b>: {{genero.cantidad }},
										{% endfor %}
									</ul>
									<p>
										<b>Aprobado</b>: {{ participantes.resumen.estado.aprobado.cantidad }},
										<b>Nivelar</b>: {{ participantes.resumen.estado.nivelar.cantidad }},
										<b>Reprobado</b>: {{ participantes.resumen.estado.reprobado.cantidad }}
									</p>
									<div class="progress progress-xs">
										<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ participantes.resumen.estado.aprobado.porcentaje }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ participantes.resumen.estado.aprobado.porcentaje }}%">
										</div>
										<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ participantes.resumen.estado.nivelar.porcentaje }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ participantes.resumen.estado.nivelar.porcentaje }}%">
										</div>
										<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ participantes.resumen.estado.reprobado.porcentaje }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ participantes.resumen.estado.reprobado.porcentaje }}%">
										</div>
									</div>
									<table class="table">
										<thead>
											<tr>
												<th>No.</th>
												<th>Nombre</th>
												<th>Apellido</th>
												<th>No. Grupo</th>
												<th>Nota</th>
												<th>Cursos</th>
												<th>Rol</th>
												<th>Escuela</th>
												<th>Niños</th>
												<th>Niñas</th>
											</tr>
										</thead>
										<tbody>											
												{% for p in participantes.listado %}
													<tr>
														<td>{{ forloop.counter }}</td>
														<td><a href="{{ p.participante.get_absolute_url }}">{{ p.participante.nombre }}</a></td>
														<td>{{ p.participante.apellido }}</td>
														<td>{{ p.grupo }}</td>
														<td>{{ p.nota|floatformat:0}}</td>
														<td>{{ p.participante.cursos_sede }}</td>
														<td>{{ p.participante.rol }}</td>
														<td>{{ p.participante.escuela }}</td>
														<td>{{ p.participante.chicos }}</td>
														<td>{{ p.participante.chicas }}</td>														
													</tr>												
												{% endfor %}											
										</tbody>
										<tfoot>
											<tr>
												<th>
												</th>
												<th>
												</th>
												<th>
												</th>
												<th>
												</th>
												<th>
												</th>
												<th>
												</th>
												<th>
												</th>
												<th>
												</th>
												<th>
													<b>{{total_chicos}}</b>
												</th>
												<th>
													<b>{{total_chicas}}</b>
												</th>
												<!--<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td><b>{{total_chicos}}</b></td>
												<td><b>{{total_chicas}}</b></td> -->
											</tr>
										</tfoot>
									</table>
								{% endwith %}
								</div>

								<div class="tab-pane no-padding" id="grupos">
									<div class="box-tools pull-right">
										{% if not sede.finalizada %}
											{% if perms.cyd.add_grupo %}
											<a href="{% url 'grupo_add' %}" class="btn btn-success">
												<i class="fa fa-plus"></i> Agregar Grupos
											</a>
											{% endif %}
										{% endif %}
										
									</div>
									<br/><br/>
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Grupo</th>
												<th>Observaciones</th>
												<th>Participantes</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
										{% for grupo in sede.grupos.all|dictsortreversed:"id" %}
										{{grupo.get_fecha}}
											<tr>
												<td>
													<a href="{{ grupo.get_absolute_url }}" target="_blank" class="btn btn-block btn-success">{{ grupo }}</a>
												</td>
												<td>
													{% url 'grupo_api_detail' pk=grupo.id as grupo_editable_url %}
													{% editable_field value=grupo.comentario name="comentario" pk=grupo.id url=grupo_editable_url %}
												</td>
												{% if grupo.asignados.count > 0 %}
													<td><span class='label label-info' style='font-size: 12px;'>{{ grupo.asignados.count }}</span></td>
												{% else %}
													<td><span class='label label-danger' style='font-size: 12px;'>{{ grupo.asignados.count }}</span></td>
												{% endif %}
												<td>
                          {% if not grupo.asignados.count %}
						  {% if perms.cyd.delete_curso %}
                          <button class="eliminar-grupo btn btn-danger"  data-asignacion="{{grupo.asignados.count}}" data-grupo="{{grupo.id}}" data-ulr="{%url 'grupo_desactivar'%}"><i class='fa fa-trash'></i> Eliminar</button>
                          {% endif %}
						  {% endif %}

												</td>
											</tr>
										{% endfor %}
										</tbody>
									</table>
								</div>

								<div class="tab-pane no-padding" id="asesorias">
									{% if sede.capacitador == request.user %}
									<button id="btn-asesoria" class="btn btn-primary">Nueva <i class="fa fa-plus"></i></button>
									{% endif %}
									<form action="{% url 'asesoria_api_add' %}" method="post" id="asesoria-form" class="form">
										{% csrf_token %}
										{{ asesoria_form.as_p }}
										<input type="submit" value="Crear" class="btn btn-success">
									</form>
									<table class="table table-striped" id="asesoria-tabla">
										<thead>
											<tr>
												<th>Fecha</th>
												<th>Hora de inicio</th>
												<th>Hora para finalizar</th>
												<th>Observaciones</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="asesoria-tabla-body">
											{% for asesoria in sede.asesorias.all|dictsort:"fecha" %}
												<tr id="asesoria-{{ asesoria.id }}">
													<td>
														{% if sede.capacitador == request.user %}
														<a href="#" class="editable" data-name="fecha" data-type="text" data-pk="{{ asesoria.id }}" data-url="{% url 'asesoria_api_detail' pk=asesoria.id %}">
															{{ asesoria.fecha|date:"Y-m-d" }}
														</a>
														{% else %}
															{{ asesoria.fecha|date:"Y-m-d" }}
														{% endif %}
													</td>
													<td>
														{% if sede.capacitador == request.user %}
														<a href="#" class="editable" data-name="hora_inicio" data-type="text" data-pk="{{ asesoria.id }}" data-url="{% url 'asesoria_api_detail' pk=asesoria.id %}">
															{{ asesoria.hora_inicio }}
														</a>
														{% else %}
														{{ asesoria.hora_inicio }}
														{% endif %}
													</td>
													<td>
														{% if sede.capacitador == request.user %}
														<a href="#" class="editable" data-name="hora_fin" data-type="text" data-pk="{{ asesoria.id }}" data-url="{% url 'asesoria_api_detail' pk=asesoria.id %}">
															{{ asesoria.hora_fin }}
														</a>
														{% else %}
														{{ asesoria.hora_fin }}
														{% endif %}
													</td>
													<td>
														{% if sede.capacitador == request.user %}
														<a href="#" class="editable" data-name="observacion" data-type="text" data-pk="{{ asesoria.id }}" data-url="{% url 'asesoria_api_detail' pk=asesoria.id %}">
															{{ asesoria.observacion }}
														</a>
														{% else %}
														{{ asesoria.observacion }}
														{% endif %}
													</td>
													<td>
														{% if sede.capacitador == request.user %}
														<button class="eliminar-asesoria btn btn-danger" data-pk="{{ asesoria.id }}" data-url="{% url 'asesoria_api_detail' pk=asesoria.id %}">Eliminar</button>
														{% endif %}
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>

								<div class="tab-pane no-padding" id="escuelas">
									<table class="table">
										<thead>
											<tr>
												<th>Nombre</th>
												<th>UDI</th>
												<th>Dirección</th>
												<th>Participantes</th>
											</tr>
										</thead>
										<tbody>
											{% for escuela in sede.get_escuelas.all %}
											<tr>
												<td>
													<a href="{{ escuela.get_absolute_url }}">{{ escuela.nombre }}</a>
												</td>
												<td>{{ escuela.codigo }}</td>
												<td>{{ escuela.direccion }}</td>
												<td>{{ escuela.cantidad_participantes }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<!-- -->
									<div class="tab-pane no-padding" id="contactos">
										<div class="row">
											<div class="col-md-12">
												<div class="box box-success">
													<div class="box-header with-border">
														<h3 class="box-title"><i class="fa fa-user" aria-hidden="true"></i> Contactos Sede</h3>
														<div class="box-tools pull-right">
															<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
														</div>
													</div>
													<div class="box-body no-padding">
														<div class="container-fluid">
															<div class="row">
																<div class="col-md-12">
																	<div class="box box-success box-solid collapsed-box">
																		<div class="box-header with-border">
																			<h3 class="box-title">{{ sede.escuela_beneficiada.nombre }}</h3>
																		</div>
																	</div>
																	<div class="box-body table-responsive">
																		<table class="table table-striped table-hover">
																			<thead>
																				<tr>
																					<th>Nombre</th>
																					<th>Rol</th>
																					<th>Teléfono</th>
																					<th>Correo</th>
																				</tr>
																			</thead>
																			<tbody>
																				{% for contacto in sede.escuela_beneficiada.contacto.all %}
																				<tr>
																					<td>{{ contacto }}</td>
																					<td>{{ contacto.rol }}</td>
																					<td>
																						{% for telefono in contacto.telefono.all %}
																						<a href="tel:{{telefono}}">
																							<span class="badge bg-{{telefono.empresa|telefonica}}">{{ telefono }}</span>
																						</a>
																						<br />
																						{% endfor %}
																					</td>
																					<td>
																						{% for mail in contacto.mail.all %}
																						<a href="mailto:{{mail}}">
																							{{ mail }}
																						</a>
																						<br />
																						{% endfor %}
																					</td>
																					<td>
																						{% if perms.escuela.add_esccontacto %}
																						<a href="{% url 'escuela_contacto_edit' id_escuela=contacto.escuela.id pk=contacto.id%}" class="badge">
																							<i class="fa fa-pencil"></i>
																						</a>
																						{% endif %}
																					</td>
																				</tr>
																				{% endfor %}
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="box box-info">
													<div class="box-header with-border">
														<h3 class="box-title"><i class="fa fa-user" aria-hidden="true"></i> Contactos Escuelas Invitadas</h3>
														<div class="box-tools pull-right">
															<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
														</div>
													</div>
													<div class="box-body no-padding">
														<div class="container-fluid">
															{% for escuela in sede.get_escuelas.all %}
															<div class="row">
																<div class="col-md-12">
																	<div class="box box-info box-solid collapsed-box">
																		<div class="box-header with-border">
																			<h3 class="box-title">{{ escuela.nombre }}</h3>
																			<div class="box-tools pull-right">
																				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
																			</div>
																		</div>
																	</div>
																	<div class="box-body table-responsive">
																		<table class="table table-striped table-hover">
																			<thead>
																				<tr>
																					<th>Nombre</th>
																					<th>Rol</th>
																					<th>Teléfono</th>
																					<th>Correo</th>
																				</tr>
																			</thead>
																			<tbody>
																				{% for contacto in escuela.contacto.all %}
																				<tr>
																					<td>{{ contacto }}</td>
																					<td>{{ contacto.rol }}</td>
																					<td>
																						{% for telefono in contacto.telefono.all %}
																						<a href="tel:{{telefono}}">
																							<span class="badge bg-{{telefono.empresa|telefonica}}">{{ telefono }}</span>
																						</a>
																						<br />
																						{% endfor %}
																					</td>
																					<td>
																						{% for mail in contacto.mail.all %}
																						<a href="mailto:{{mail}}">
																							{{ mail }}
																						</a>
																						<br />
																						{% endfor %}
																					</td>
																					<td>
																						{% if perms.escuela.add_esccontacto %}
																						<a href="{% url 'escuela_contacto_edit' id_escuela=contacto.escuela.id pk=contacto.id%}" class="badge">
																							<i class="fa fa-pencil"></i>
																						</a>
																						{% endif %}
																					</td>
																				</tr>
																				{% endfor %}
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
															{% endfor %}
														</div>
													</div>
												</div>
											</div>
										</div>
									<table class="table">
										<thead>
											<tr>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
								<!-- -->
                <!-- -->
                  <div class="tab-pane no-padding" id="fotos">
                    <div class="">
                    	{% if sede.url %}
	                    	<br>
	                    	{{ sede.url|embed_gdrive_folder|safe }}
                    	{% endif %}
                    </div>


                </div>
                <!-- -->
                <!-- -->
                  <div class="tab-pane no-padding" id="archivos">
                    <div class="">
                    	{% if sede.url_archivos %}
	                    	<br>
	                    	{{ sede.url_archivos|embed_gdrive_folder|safe }}
                    	{% endif %}
                    </div>


                </div>
                  <div class="tab-pane no-padding" id="linea"  data-url="{% url 'calendario_api_list' %}" data-sede="{{sede.id}}">
                    <div id="timeline" style="height:600px; width:100%"></div>
                </div>
				<div class="tab-pane no-padding" id="graficas"  data-sede="{{sede.id}}">
                    <canvas id="capacitacion_final_chart_pie" style="height: 230px; width: 485px;" height="230" width="485" data-aprobados={{sede.get_participantes.resumen.estado.aprobado.cantidad}}  data-porcentaje-aprobados={{sede.get_participantes.resumen.estado.aprobado.porcentaje}} data-reprobados={{sede.get_participantes.resumen.estado.reprobado.cantidad}} data-porcentaje-reprobados={{sede.get_participantes.resumen.estado.reprobado.porcentaje}}></canvas>
					
					
                </div>	


							</div>
						</div>

					</div>

				</div>

			</div>
		</div>
	</div>
</section>
{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-editable.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script src="{% static 'js/distributed/Chart.min.js' %}"></script>
<script src="{% static 'js/bootstrap-editable.min.js' %}"></script>
<script src="{% static 'js/extrajs/cyd.js' %}"></script>
<script>
	SedeDetail.init();
</script>
 <script type="text/javascript">

    </script>
{% endblock extra_js %}
