{% extends 'base/base.html' %}
  {% load widget_tweaks staticfiles %}
{% block page_title %}
    <title>Asignación de Repuestos</title>
{% endblock page_title %}

{% block content %}
<section class="content-header">
  <h1>Asignación de Repuestos</h1>
</section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- Comienza el formulario -->
          <div class="col-md-3 col-sm-3">
            <div class="box">
              <form id="repuesto-list" action="{% url 'inventario_api:api_repuesto-list'%}" method="post">
                <div class="box-header">
                  <input type="submit" class="btn btn-primary col-md-12" value="Generar Informe" /><br /><br />
                  <h3 class="box-title">Filtros</h3>
                </div>
                <div class="box-body">
                  {% csrf_token %}
                  {% for field in form %}
                  <div class="form-group">
                    {{field.label_tag}} {{field}}
                  </div>
                  {% endfor %}
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-9 col-sm-9">
            <div class="box box-primary">
              <div class="box-header">
                <div class="row">
                  <div class="col-md-9">
                    <h3 class="box-title">Listado de Repuestos</h3>
                  </div>
                </div>
              </div>
              <div  class="box-body table-responsive">
                <table id="repuesto-table" class="table table-striped table-hover table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Tipo</th>
                      <th>Descripcion</th>
                      <th>Marca</th>
                      <th>Modelo</th>
                      <th>Tarima</th>
                      <th>Estado</th>
                      <th></th>
                      <th></th>                      
                    </tr>
                  </thead>
                  <tbody id="repuesto-table-body">
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
{% block extra_js %}
{% include "base/dataTables.html" %}
    <script src="{% static "js/extrajs/inventario.js" %}"></script>
    <script>
          let Listado = new RepuestosList();
    </script>
{% endblock extra_js %}
