{% extends "base/base.html" %}
{% load staticfiles thumbnail %}


{% block page_title %}
<title>Repuesto - {{ repuesto.id }}</title>
{% endblock page_title %}
{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="box">
					<div class="box-header">
						<div class="row">
							<div class="col-md-7">
								<h3 class="box-title">Repuesto No. {{ repuesto.id }}</h3>
              </div>
              <div class="col-md-5">
								<div class="row">
									<div class="col-md-6">
										<a href="{%url 'repuesto_edit' pk=object.id%}" class="btn btn-block btn-success">Editar</a>
									</div>
									<div class="col-md-6">
											<a href="{%url 'repuesto_edit' pk=object.id%}" class="btn btn-block btn-primary">Imprimir QR</a>
									</div>
								</div>
              </div>
						</div>
					</div>
					<div class="box-body">
						<table class="table table-condensed">
              <tr>
								<th>Entrada</th>
								<td>{{ repuesto.entrada |default_if_none:"" }}</td>
							</tr>
							<tr>
								<th>Tipo</th>
								<td>{{ repuesto.tipo |default_if_none:"" }}</td>
							</tr>
							<tr>
								<th>Estado</th>
								<td>
									{{repuesto.estado |default_if_none:""}}
									<br>
								</td>
							</tr>
              <tr>
								<th>Descripcion</th>
								<td>
                  {{ repuesto.descripcion |default_if_none:"" }}
								</td>
							</tr>
              <tr>
								<th>Disponible</th>
								<td>
                  {%if repuesto.disponible == True%}
                  SI
                  {%else%}
                    NO
                  {%endif%}
                  <br>
								</td>
							</tr>
              <tr>
								<th>Tarima</th>
								<td>
									{{repuesto.tarima |default_if_none:""}}
									<br>
								</td>
							</tr>
              <tr>
								<th>Valido</th>
								<td>
									{{repuesto.valido |default_if_none:""}}
									<br>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
      <div class="col-md-6">
				<div class="box">
					<div class="box-header">
						<div class="row">
							<div class="col-md-9">
								<h3 class="box-title">Dispositivo No. {{ dispositivo.triage }}</h3></div>
						</div>
					</div>
					<div class="box-body">
						<table class="table table-condensed">
              <tr>
								<th>Triage</th>
								<td>{{ dispositivo.triage |default_if_none:"" }}</td>
							</tr>
							<tr>
								<th>Tipo</th>
								<td>{{ dispositivo.tipo  |default_if_none:""}}</td>
							</tr>
							<tr>
								<th>Entrada</th>
								<td>
									{{dispositivo.entrada |default_if_none:""}}
									<br>
								</td>
							</tr>
              <tr>
								<th>Estado</th>
								<td>
                  {{dispositivo.estado |default_if_none:""}}
								</td>
							</tr>
              <tr>
								<th>Etapa</th>
								<td>
                  {{dispositivo.estapa |default_if_none:""}}
                  <br>
								</td>
							</tr>
              <tr>
								<th>Marca</th>
								<td>
									{{dispositivo.marca |default_if_none:""}}
									<br>
								</td>
							</tr>
              <tr>
								<th>Modelo</th>
								<td>
									{{dispositivo.modelo |default_if_none:""}}
									<br>
								</td>
							</tr>
              <tr>
								<th>Serie</th>
								<td>
									{{dispositivo.valido |default_if_none:""}}
									<br>
								</td>
							</tr>
              <tr>
								<th>Tarima</th>
								<td>
									{{dispositivo.tarima |default_if_none:""}}
									<br>
								</td>
							</tr>
              <tr>
								<th>Valido</th>
								<td>
									{{dispositivo.valido |default_if_none:""}}
									<br>
								</td>
							</tr>
							<tr>
								<th>Codigo Qr</th>
								<td>
									<img src="{{dispositivo.codigo_qr.url}}" class="img-thumbnail" alt="">
									<br>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
    </div>
  </div>
</section>
{% endblock content %}
