{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles has_group %}
{% block page_title %}
<title>Informe Disposositivos por Salidas </title>
{% endblock page_title %}
{% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<!-- Comienza el formulario -->
		<div class="col-md-3 col-sm-3">
			<div class="box">
				<form action="{%url 'informe_rastreo_dispositivo_salida_api'%}" id="rastreo-dispositivos-salida-form">
					<div class="box-header">
						<input type="submit" class="btn btn-primary col-md-12" value="Generar Informe" /><br />
						<h3 class="box-title">Filtros</h3>
					</div>
					<div class="box-body">
						{% csrf_token %} {% for field in form %}
						<div class="form-group">
							{{field.label_tag}} {{field}}
						</div>
						{% endfor %}
					</div>
				</form>
			</div>
		</div>
		<!--Aca termina el formulario-->
			<div class="col-md-9">
				<div class="box">
					<div class="box-header">
						<div class="row">
							<div class="col-md-9">
								<h3 class="box-title">Listado dispositivos por salida</h3>
							</div>
							<div class="col-md-3">
							</div>
						</div>
					</div>
					<div class="box-body table-responsive ">
						<table class="table table-datatables table-striped table-hover table-bordered " id="rastreo-dispositivos-salidas" >
							<thead> 
								<tr>
									<th>Salida No.</th>
									<th>Fecha salida</th>
									<th>Tipo dispositivo</th>
									<th>Triage</th>
									<th>Marca</th>
									<th>Modelo</th>
									<th>Serie</th>
									<th>Clase</th>
									<th>Entrada</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
{% block extra_js %}
{% include "base/dataTables.html" %}
<script src="{% static "js/extrajs/conta.js" %}"></script>
<script>
  let rastreo_dispositivos_salida = new RastreoDispositivosSalida();
</script>
{% endblock extra_js %}
