{% extends "base/base.html" %}
{%load staticfiles widget_tweaks %}
{% block page_title %}
<title>Periodo Fiscales</title>
{% endblock page_title %}
{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 ">
        <div class="box">
          <div class="box-header">
            <div class="row">
              <div class="col-md-9"><span class="info-box-text"> Periodo Fiscal</span></div>
            </div>
          </div>
          <div class="box-body">
            <table class="table table-condensed">
              <form action="{%url 'conta_api:periodofiscal-validar-periodo'%}" method="post" id="periodo-fiscal-form">
                {%csrf_token%}
                <table>
                  {{ form.as_table }}
                  <tr>
                    <td>
                      <input type="submit" class="btn btn-success" value="Guardar" />
                    </td>
                  </tr>
                </table>
              </form>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block extra_js %}
<script src="{% static "js/extrajs/conta.js" %}"></script>
<script>
  let Periodo = new PeriodoFiscal()
</script>
{% endblock extra_js %}
