{% extends "base/base.html" %}
{% load staticfiles widget_tweaks %}
{% block page_title %}
<title>Dispositivos Asignados</title>
{% endblock page_title %} {% block content %}
<section class="content-header">
	<h1>Dispositivos Asignados </h1>
</section>
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-sm-9">
				<div class="box box-primary">
					<div class="box-header">
						<div class="row">
							<div class="col-md-9">
									<h3 class="box-title">Dispositivos Asignados</h3>
									{%csrf_token%}
							</div>
							<div class="col-md-3">
								<a class="btn btn-success" target="_blank" href="{% url 'paquetes_grid' pk=object.id%}">
								 Editar dispositivo
							 </a>
							</div>
						</div>
					</div>
					<div id="dispositivosalida" class="box-body" >
						<!--	<div class="col-md-12 table-responsive">    table id=dispositivosalida-table-->
						<table id="dispositivosalida-table" class="table table-striped table-hover table-bordered table-condensed display dataTable" data-caja="{%url 'inventario_api:api_inventariosalidas-asignar-caja-repuesto'%}">
							<thead>
								<tr>
									<th>No</th>
                  					<th>Tipo</th>
									<th>Fecha Asignacion</th>
									<th>Tecnico</th>
									<th>Dispositivo</th>
                  					<th>Fecha Aprobacion</th>
									<th>Asignación</th>
									
								</tr>
							</thead>
							<tbody id="dispositivosalida-table-body">
								{%for dispositivo in dispositivo_list%}									
								<tr>
								<td>
									{{forloop.counter}}
								</td>
								<td>
									{{dispositivo.dispositivo.tipo}}
								</td>
								<td>
									{{dispositivo.fecha_creacion}}
								</td>
								<td>
									{{dispositivo.asignado_por.get_full_name}}
								</td>
								<td>
									{{dispositivo.dispositivo.triage}}
								</td>
								<td>
									{{dispositivo.fecha_aprobacion|default_if_none:""}}
								</td>
								<td>	
									 {% if dispositivo.paquete.salida.tipo_salida|stringformat:"s" == 'Caja de repuestos' or  dispositivo.paquete.salida.tipo_salida.id == 6%}
									
									 {% if dispositivo.asignado == 0 %}
									 <a target='_blank' class='btn btn-primary btn-asignar' data-urlreasignar="{%url 'salidainventario_edit' pk=object.id%}" >Asignar</a>      <!-- Validar que sea CR  -->
									 {% endif %}
									 								 
									 {%else%}
									 {{dispositivo.paquete.salida.tipo_salida}}
									 {%endif%}	
								</td>									
								</tr>
								{%endfor%}
									
							</tbody>
							<tfoot>
								    <th>No</th>
                  					<th>Tipo</th>
									<th>Fecha Asignacion</th>
									<th>Tecnico</th>
									<th>Dispositivo</th>
                  					<th>Fecha Aprobacion</th>
									<th>Asignación</th>
							</tfoot>
						</table>
						<!--	</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
{% block extra_js %}
{% include "base/dataTables.html" %}
<script src="{% static "js/extrajs/inventario.js" %}"></script>
<script src="{% static "js/i18n/es.js" %}"></script>
<script>
$(document).ready(function (){	
	
	let caja = new CajaRepuestos();	
	let buscador = new BuscadorTabla();
	$("#dispositivosalida-table").DataTable({
		dom: 'Bfrtip',
      	buttons: ['excel', 'pdf', 'copy'],
      	paging:false,
	    destroy:true,
	});
	
});
</script>

{% endblock extra_js %}
