{% extends "base/base.html" %}
{% load staticfiles widget_tweaks %}
{% block page_title %}
<title>Dispositivos Asignados</title>
{% endblock page_title %} {% block content %}
<section class="content-header">
	<h1>Dispositivos Asignados </h1>
</section>
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-sm-9">
				<div class="box box-primary">
					<div class="box-header">
						<div class="row">
							<div class="col-md-9">
									<h3 class="box-title">Dispositivos Asignados</h3>
							</div>
							<div class="col-md-3">
								<a class="btn btn-success" target="_blank" href="{% url 'paquetes_grid' pk=object.id%}">
								 Editar dispositivo
							 </a>
							</div>
						</div>
					</div>
					<div id="dispositivosalida" class="box-body" >
						<!--	<div class="col-md-12 table-responsive"> -->
						<table id="dispositivosalida-table" class="table table-striped table-hover table-bordered table-condensed display dataTable">
							<thead>
								<tr>
									<th>No</th>
                  					<th>Tipo</th>
									<th>Fecha Asignacion</th>
									<th>Tecnico</th>
									<th>Dispositivo</th>
                  					<th>Fecha Aprobacion</th>
									<th>Asignación</th>
								</tr>
							</thead>
							<tbody id="dispositivosalida-table-body">
									{%for dispositivo in dispositivo_list%}
									<tr>
									<td>
										{{forloop.counter}}
									</td>
									<td>
										{{dispositivo.dispositivo.tipo}}
									</td>
									<td>
										{{dispositivo.fecha_creacion}}
									</td>
									<td>
										{{dispositivo.asignado_por.get_full_name}}
									</td>
									<td>
										{{dispositivo.dispositivo.triage}}
									</td>
									<td>
										{{dispositivo.fecha_aprobacion|default_if_none:""}}
									</td>
									<td>
										<a target='_blank' class='btn btn-primary btn-asignar-salida' data-urlreasignar="{%url 'salidainventario_edit' pk=object.id%}" >Asignar</a>      <!-- Validar que sea CR  -->
									</td>
									</tr>
									{%endfor%}
							</tbody>
							<tfoot>
								    <th>No</th>
                  					<th>Tipo</th>
									<th>Fecha Asignacion</th>
									<th>Tecnico</th>
									<th>Dispositivo</th>
                  					<th>Fecha Aprobacion</th>
							</tfoot>
						</table>
						<!--	</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
{% block extra_js %}
{% include "base/dataTables.html" %}
<script src="{% static "js/extrajs/inventario.js" %}"></script>
<script src="{% static "js/i18n/es.js" %}"></script>
<script>
$(document).ready(function (){	
	let buscador = new BuscadorTabla();
	$("#dispositivosalida-table").DataTable({
		dom: 'Bfrtip',
      	buttons: ['excel', 'pdf', 'copy'],
      	paging:false,
	    destroy:true,
	});
});
</script>	


<script>
var url_reasignar = "{%url 'salidainventario_edit' pk=object.id%}"; 
console.log(url_reasignar);		
$(document).ready(function() {
  $(".btn-asignar-salida").click(function() { 			
    var row = $(this).closest("tr");
    var dispositivo = row.find("td:nth-child(5)").text();				//Obtiene y asigna el dispositivo al que se le hizo click 

	bootbox.prompt({
		title: "Ingrese el triage del dispositivo dañado:",
		inputType: 'text',
		callback: function (result) {
			console.log("Dispositivo Dañado -> " + result);
			console.log("Dispositivo en caja de herramientas" + dispositivo);

		if(result==true){
			$.ajax({
			  type: "POST",
			  url: url_reasignar,
				data:{
					dispositivo_dañado : result,
              		dispositivo_para_cambio : dispositivo
				},
				success: function (response){
					var jsonResponse = JSON.parse(response.responseText);
					bootbox.alert(jsonResponse.mensaje);
				  },
				  error: function (response) {
					var jsonResponse = JSON.parse(response.responseText);
					bootbox.alert(jsonResponse.mensaje);
				  }
				});
			  }
		}
		});
  });
});
</script>

{% endblock extra_js %}
