{% load staticfiles%}
<!DOCTYPE html>
<html>
	<head>
		<title>ENTREGA LAPTOP</title>
	</head>

	<style>
		.table-wrapper {
			display: inline-block;
		}
		
		table {
			display: inline-block;
			margin: 0 10px;
		}
	</style>

	<!--ENCABEZADO DE DATOS E IMAGENES -->
	<header>
		<div class="logo_izquierdo">
			<img  width= "125" height="100" style="float:left; margin:10px;"src="{% static "image/Logo_Funsepa-01.png" %}">
		</div>
			<center>
		<div class="encabezado" >
			<h3 style="	color: #154458; ">
				<b>
					POR CUALQUIER FALLA EN EL EQUIPO COMUNÍCATE A NUESTROS NÚMEROS  DE
				<br>
				TELÉFONO 2435-2739 / 24319639</b>
			</h3>
		<a class="encabezado2" ><b>ENTREGA DE EQUIPO</b></a>

		<b>
			<table class="encabezado3"  width="830" heigth="125">
				<td>Fecha de entrega</td>
				<td style="border:solid; border-width: 1px" width="100" height="18">{{salidainventario.fecha}}</td>
				<td  width="18"></td>
				<td>Código UDI</td>
				<td style="border:solid; border-width: 1px" width="100" height="18">{{salidainventario.escuela.codigo}}</td>
				<td  width="18			"></td>
				<td>Cooperante</td>
				<td style="border:solid; border-width: 1px" width="100" height="18"> <center> {{salidainventario.cooperante}} </center> </td>
				<td  width="18"></td>
				<td>No. Entrega:</td>
				<td style="border:solid; border-width: 1px" width="100" height="18	"> <center> {{salidainventario}} </center> </td>

<table class="info" >
	<b>
	<br>
	{% if salidainventario.tipo_salida|stringformat:"s" == 'A terceros' %}
<td width="	250" >NOMBRE DEL BENEFICIARIO</td>
	<td style="border:solid; border-width: 1px;border-color:gray" width="675" height="28">{{salidainventario.beneficiario}}</td>
	<td  width="20"></td>
	<td>DIRECCIÓN</td>
	<td style="border:solid; border-width: 1px;border-color:gray" width="675" height="28">
			{% if  salidainventario.beneficiario.direccion %}{{salidainventario.beneficiario.direccion}} {% else %} NO APLICA{% endif %}
	</td>

	{% else %}
	<td width="	250" >NOMBRE DE LA INSTITUCIÓN</td>
	<td style="border:solid; border-width: 1px;border-color:gray" width="675" height="28">{{salidainventario.escuela}}</td>
	<td  width="20"></td>
	<td>DIRECCIÓN</td>
	<td style="border:solid; border-width: 1px;border-color:gray" width="675" height="28">{{salidainventario.escuela.direccion}}</td>

	{% endif %}
	</b>
</table>

<table class="info2" >
	{% if salidainventario.tipo_salida|stringformat:"s" == 'A terceros' %}
	<td width="	250" >NOMBRE DEL ENCARGADO(A)</td>
	<td style="border:solid; border-width: 1px;border-color:gray" width="700" height="28">&nbsp;&nbsp;NO APLICA</td>
	<td  width="20"></td>
	<td>TELEFONO(S)</td>
	<td style="border:solid; border-width: 1px;border-color:gray" width="700" height="28">&nbsp;&nbsp;

			{% if  salidainventario.beneficiario.fax %}{{salidainventario.beneficiario.fax}} {% else %} NO APLICA{% endif %}
	</td>
	{% else %}
	<td width="	250" >NOMBRE DEL ENCARGADO(A)</td>
	<td style="border:solid; border-width: 1px;border-color:gray" width="700" height="28">&nbsp;&nbsp;{{Encargado}}</td>
	<td  width="20"></td>
	<td>TELEFONO(S)</td>
	<td style="border:solid; border-width: 1px;border-color:gray" width="700" height="28">&nbsp;&nbsp;

							{% if  Telefono|stringformat:"s" == 'None' %} {{salidainventario.escuela.telefono}}{% else %} NO APLICA{% endif %}
					</td>
					{% endif %}
				</table>
		</table>
		</b>
		</center>
	</header>
	<!--FIN DE DATOS E IMAGENES-->


	<body>
		<!--INICIO FINALIZADO-->
		<div class="table-wrapper">

			<table class="datos" {% if total_mouse != 0 %} width="70%" {% endif %}>
				<thead>
					<tr>
						<td bgcolor="lightgray" colspan="8" ><center>LAPTOP</center></td>
					</tr>
				</thead>


				<tr>
					<th bgcolor="#b3c4dd"width="5%"><center>Triage</center></th>
					<th bgcolor="#b3c4dd"width="5%"><center>Marca</center></th>
					<th bgcolor="#b3c4dd"width="5%"><center>Modelo</center></th>
					<th bgcolor="#b3c4dd"width="5%"><center>HDD</center></th>
					<th bgcolor="#b3c4dd"width="3%"><center>CAPACIDAD</center></th>
					<th bgcolor="#b3c4dd"width="5%"><center>PROCESADOR</center></th>
					<th bgcolor="#b3c4dd"width="3%"><center>RAM</center></th>
					<th bgcolor="#b3c4dd"width="5%"><center>WINDOWS</center></th>
				</tr>
				<!--FIN ENCABEZADO-->


				<!--    Inicio datos -->
				{% for laptop in Laptos %}
					<tr>
						<td>
							{{laptop|default_if_none:""}}
						</td>

						<td>
							{{laptop.marca |default_if_none:"" }}
						</td>

						<td>
							{{laptop.modelo |default_if_none:""}}
						</td>

						<td>
							{{laptop.disco_duro|default_if_none:""}}
						</td>

						<td>
							{{laptop.disco_duro.capacidad|default_if_none:""}}
						</td>

						<td>
							{{laptop.procesador|default_if_none:""}}
						</td>
						
						<td>
							{{laptop.ram |default_if_none:""}} GB
						</td>

						<td>
							{{laptop.version_sistema|default_if_none:""}}
						</td>
					

				{% endfor %}

				
			</table>

			{% if total_mouse != 0 %} 
			<table class="datos" width="25%">
				<thead>
					<tr>
						<td width="30%" bgcolor="lightgray" colspan="3"><center>MOUSE</center></td>
					</tr>
				</thead>


				<tr>
					<th bgcolor="#b3c4dd"width="7%"><center>Triage</center></th>
					<th bgcolor="#b3c4dd"width="7%"><center>Marca</center></th>
					<th bgcolor="#b3c4dd"width="6%"><center>Modelo</center></th>
				</tr>
				<!--FIN ENCABEZADO-->

				<!--    Inicio datos -->
					{% for mouse in Mouses  %}
						<tr>
							<td>
								{{mouse | default_if_none:"Generico"}}
							</td>

							<td>
								{{mouse.marca | default_if_none:"Generico"}}
							</td>

							<td>
								{{mouse.modelo | default_if_none:"Generico"}}
							</td>
						</tr>
					{% endfor %}
				<!--FIN DE TITULOS DE LA TABLA-->
			</table>
			{% endif %} 
			
		</div>


	</div>
		<table class="contador">
			<td width="20">Total</td>
			<td style="border-bottom:solid;" width="75"> <center>{{Total}}</center></td>
			{% if Servidor %}
				<td width="200"><center><input type="checkbox" checked>Servidor</center></td>
			{% else %}
			<td width="200"><center><input type="checkbox" >Servidor</center></td>
			{% endif %}

	<td style="border:solid; border-width: 1px;border-color:gray" width="150" height="25">{{Servidor}}</td>
	<td width="100"><center>Red</center></td>
	<td style="border:solid; border-width: 1px;border-color:gray" width="150" height="25"></td>

	{% if salidainventario.tipo_salida|stringformat:"s"  == "Renovaciones" %}
 	<td width="200"><center><input type="checkbox" checked>Renovación</center></td>
	{% else %}
	<td width="200"><center><input type="checkbox">Renovación</center></td>
	{% endif %}

</table>
<!--FIN DE CELDAS -->
<!--INICIO DE FIRMA Y SELLO -->
</body>
<footer>
	<br>
	<br>
<br>
	<br>
	<br>

<center>
	<table style="font-size: 20px;">

		<td  >
			<hr width="430" style="border-color:black; border-width: 1px;">
			<center>REPRESENTANTE DE LA ESCUELA
			<p><center>NOMBRE Y FIRMA</center></p></center>
		</td>

		<td width="200" valign="center" ><center>SELLO</center>
		</td>

		<td >
			<hr width="430" style="border-color:black; border-width: 1px;">

			<center>REPRESENTANTE DE LA ESCUELA
			<p><center>NOMBRE Y FIRMA</center></p></center>
		</td>

	</table>

	</center>
<!--TERMINAR TABLAS DE FIRMA Y SELLO-->


</body>

<!--PIE DE PAGINA-->
<footer>


	<br>
	<br>
	<br>

	<table style="margin-left: 0px;">
		<td width="1100">Nota: Todas las computadoras cuentan con sus respectivo cargador.</td>
		<td style="font-size: 12px">Latitud</td>
		<td style="border:solid; border-width: 1px;border-color:gray" width="200" height="14">{{salidainventario.escuela.mapa.lat}}</td>
				<td  width="30"></td>

		<td style="font-size: 12px">Longitud</td>
		<td style="border:solid; border-width: 1px;border-color:gray" width="200" height="14">{{salidainventario.escuela.mapa.lng}}</td>
	</table>
</footer>


<!--TERMINA PIE DE PAGINA-->


<!--CSS -->
<style type="text/css">
	@page{
	margin-top: 0mm;
	margin-bottom: 0mm;
}
body{
	font-family: arial;
	 background-image: none;
	-webkit-print-color-adjust: exact; /*economy | exact*/
    color-adjust: exact;
}
.encabezado{
	margin:10px;
	margin-top:10mm;
}
.encabezado2{
	font-size:12px;
	text-align: center;
}
.encabezado3{
	border-bottom:solid;
	border-top:solid;
	border-width: 1.5px;
	margin-top:0mm;
	font-size:14px;
}
.info{
	width: 1750px
}
}
.datos tr:nth-child(odd){
	background-color: #F2F2F2;
}
.datos tr:nth-child(even){
	background-color: #e5e5e5;
}
.contador {
	margin-left:  370px;
	font-family: arial;
	font-size: 18px
}
</style>

{% block extra_js %}
<script>
window.onload= function () { window.print();window.close();   }
</script>
{% endblock extra_js %}
</html>
