{% extends "base/base.html" %}
{% load staticfiles widget_tweaks %}
{% block page_title %}
<title>Paquetes - {{ paquete.id }}</title>
{% endblock page_title %} {% block content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			{% for permiso in user.groups.all  %}
			{% if permiso.name == "inv_tecnico" or permiso.name == 'inv_admin' %}
			<div class="col-md-5">
				<div class="box">
					<div class="box-header">
						<div class="row">
							<div class="col-md-9">
								<h3 class="box-title">Paquete No. {{ paquete }}</h3>
							</div>
						</div>
						<div class="col-md-3">
					</div>
					</div>
					<div class="box-body">
						<table class="table table-condensed">
							<tr>
								<th>Salida </th>
								<td id="salida-id"  data-url="{% url 'inventario_api:api_revisionsalidas-rechazar-dispositivo' pk=paquete.salida%}" data-urlhistorico="{% url 'historico_control' %}" data-id="{{  paquete.salida }}" data-urlaprobar="{% url 'inventario_api:api_revisionsalidas-aprobar-dispositivo' pk=paquete.salida%}">{{ paquete.salida }}</td>
							</tr>
							<tr >
								<th>Fecha Creación</th>
								<td>
									{{paquete.fecha_creacion}}
									<br>
								</td>
							</tr>
              <tr>
                <th>Creado por</th>
                <td>
                  {{paquete.creado_por.get_full_name}}
                  <br>
                </td>
              </tr>
              <tr>
                <th>Tipo de Paquete</th>
                <td>
                  {{paquete.tipo_paquete}}
                  <br>
                </td>
              </tr>
              <tr>
                <th>Aprobado</th>
                <td>
                  {%if paquete.aprobado %}
										Si
									{%else%}
										No
									{%endif%}
                  <br>
                </td>
              </tr>
							<tr>
								<th>Cantidad</th>
								<td>
									{{paquete.cantidad}}
									<br>
								</td>
							</tr>
							<form action="" method="post">
									{% csrf_token %}
									<tr>
										<th>
											<label for="area_scanner">Area de Scanner:</label>
										</th>
										<td>
												<input id="area_scanner" class="form-control" type="text" name="area_scanner" style="width:50%">
										</td>
									</tr>
									{{form.as_table}}
									<tr>
                      <td>
                          <input type="submit" class="btn btn-success" value="Guardar"/>
                      </td>
                  </tr>
							</form>
							<tr>
								<th colspan="2">
									Histórico
								</th>
							</tr>
							<tbody id="body-salidas-{{paquete.salida}}">
								{%for comentario in comentarios%}
							 <tr>
								 <td>
									 {{comentario.comentario}}
								 </td>
								 <td>
									 <small>{{comentario.fecha|date:'d/m/y'}}, {{comentario.usuario.perfil}}</small>
								 </td>
							 </tr>
							 {%endfor%}
              </tbody>
						</table>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
			{% for permiso in user.groups.all  %}
			{% if permiso.name == "inv_cc" or permiso.name == 'inv_admin' %}
			<div class="col-md-7">
				<div class="box">
					<div class="box-header" >
							<h3 class="box-title">Dispositivos Asignados</h3>
							<br />
							<br />
							<br />
							<div class="">
								<label for="area_scanner_aprobar">Area de Scanner:</label>	<input id="area_scanner_aprobar" class="form-control" type="text" name="area_scanner_aprobar" style="width:50%">
							</div>
					</div>
				<table  id="rechazar-dispositivo" class="table table-condensed" data-dispo={{dispositivos_no}} data-paquete={{paquete.salida}} data-idpaquete={{paquete.id}}>
					<thead>
						<th>No.</th>
						<th>Dispositivo</th>
						<th>Tipo</th>
						<th>Fecha</th>
						<th>Tecnico</th>
						<th></th>
						<th></th>
					</thead>
					<tbody>
						{%for dispositivo in dispositivos_paquetes%}
						<tr>
							<td>
										{{forloop.counter}}
							</td>
							<td>
									{{dispositivo.dispositivo.triage}}
							</td>
							<td>
									{{dispositivo.dispositivo.tipo}}
							</td>
							<td>
								{{dispositivo.fecha_creacion}}
							</td>
							<td>
									{{dispositivo.asignado_por.get_full_name}}
							</td>
							<td>
								{% if  dispositivo.dispositivo.estado.id == 2 %}

								{% else %}
									<button  id="id-aprobar" class="btn btn-primary btn-aprobar" data-triage="{{dispositivo.dispositivo.triage}}" data-paquete={{paquete.salida}} data-idpaquete={{paquete.id}}>Aprobar</button>

								{% endif %}

							</td>
							 <td>
								 {% if  dispositivo.dispositivo.estado.id == 2 %}
									<span class="label label-success">Revisado</span>

								 {% else %}
								 <button  id="id-rechazar" class="btn btn-danger btn-rechazar" data-triage="{{dispositivo.dispositivo.triage}}" data-paquete={{paquete.salida.id}} data-idpaquete={{paquete.id}} data-triagepaquete={{paquete}}>Rechazar</button>

								 {%endif%}
							</td>
						</tr>
						{%endfor%}
					</tbody>
				</table>
				<table class="table table-condensed">
					<tr>
						<th colspan="2">
							Histórico
						</th>
					</tr>
					<tbody id="body-salidas-{{paquete.salida}}">
						{%for comentario in comentarios%}
					 <tr>
						 <td>
							 {{comentario.comentario}}
						 </td>
						 <td>
							 <small>{{comentario.fecha|date:'d/m/y'}}, {{comentario.usuario.perfil}}</small>
						 </td>
					 </tr>
					 {%endfor%}
					</tbody>
				</table>
			</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
{% endblock content %}
{% block extra_js %}
<script src="{% static "js/extrajs/inventario.js" %}"></script>
<script src="{% static "js/i18n/es.js" %}"></script>
<script>
	$(document).ready(function (){
		let Rechazado = new PaqueteDetail();
	});
</script>
{% endblock extra_js %}
