{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
  <title>
    Constancia de préstamo
  </title>

  <style>
    .borde-inferior {
        border-bottom: 2px solid black; 
        text-align: center;
    }
</style>
</head>
<meta charset="utf-8"/>
<body>
  
  <div>
    <div  align="left" class="encabezado">
      <br>
      <br> 
      <br>
      <img src="{% static "image/Logo_Funsepa-01.png" %}" width="25%" height="25%"/>
    </div>
  </div>


  <div class="cuerpo">
    <div align="center"> 
      <div align="center" style="width: 50%; height: 5%;">
        <h2 style="border: thin solid black;">
          <b>CAJA DE REPUESTO <b>
        </h2>
      </div>
    </div> 

    <div align="center"> 
      <table style="width:85%">
        <tr> 
          <td style="width: 10%;">  NOMBRE: </td>
          <td style="width: 35%"  class="borde-inferior">  {{  tecnico }}  </td>
          <td style="width: 5%" > </td>  
          <td style="width: 15%">
			{% if salidas_asignadas|length > 1 %}
				ENTREGAS:
			{% else %}
				EMTREGA:
			{% endif %} 
		   </td>
          <td colrow="" style="border: solid; text-align: center;" >
			{% for salida in salidas_asignadas %}
			{{ salida }}
			{% if not forloop.last %}
				,
			{% endif %}
		{% endfor %}
		
		  </td>
        </tr>
        <br>

        
        <tr>
          <td >  FECHA: </td>
          <td  class="borde-inferior" >  {{fecha}} </td>
          <td style="width: 5%" > </td> 
          <td >  TIPO: </td>
          <td class="borde-inferior"> Salida - {{ salida }} </td>
        </tr>
      </table>
  </div> 

  <br> 

  <div align="center"> 
    <table style="width:95%; border-collapse: collapse; border: 2px solid black;">
        <tr> 
            <td style="border: 2px solid black; text-align:center;" >  CANTIDAD </td>
            <td style="border: 2px solid black; text-align:center;">  DISPOSITIVO </td>
            <td style="border: 2px solid black; text-align:center;">  DESCRIPCIÓN/QR </td>
        </tr>

        {% for paquete in paquetes %}
        <tr style="border: 1px solid black;">
            <td width="20%" style="border: 1px solid black; text-align:center;">  {{ paquete.cantidad }} </td>
            <td width="20%" style="border: 1px solid black; text-align:center;">  {{ paquete.tipo_paquete.tipo_dispositivo.tipo }} </td>
            <td width="60%" style="border: 1px solid black; text-align:center;">



              {% for dispositivo in dispositivos %}
                {% if dispositivo.tipo.tipo in paquete.tipo_paquete.tipo_dispositivo.tipo %}
                  {{ dispositivo.triage }}
                    {% if not forloop.last %}
                      ,
                    {% endif %}
                {% endif %}
              {% endfor %}

            </td>
        </tr>
        
        {% endfor %}
    </table>

</div>

<br> 

<div align="center"> 
  <table style="width:95%; border-collapse: collapse; border: 2px solid black;">
      <tr> 
          <td style="text-align:center;" >  KARDEX  </td>
      </tr>
      <tr style="border: 1px solid black;">
          <td style="border: 1px solid black; text-align:center;"> {{salida.observaciones }}  </td>
      </tr>
  </table>
</div>

<br> 

<div align="center"> 
  <table style="width:95%; border-collapse: collapse; border: 2px solid black;">
      <tr> 
          <td style="text-align:center;" >  OBSERVACIONES  </td>
      </tr>
      <tr style="border: 1px solid black;">
          <td style="border: 1px solid black; text-align:center;"> <p> Dispositivos salen en caja de repuesto {{ salida }}, para cubrir cualquier incoveniente durante el equipamiento. </p> </td>
      </tr>
  </table>
</div>

<br> <br><br> <br>

<div>
  <table style="width:100%">
      <tr>
          <th>
              _____________________________________ 
              <br>
              <br>
              Nombre y firma de quien recibe
          </th>
          <th>
              _____________________________________ 
              <br>
              <br>
              Nombre y firma de quien entrega
          </th>
      </tr>

      <tr>
          <th colspan="2">
              <br>
              <br>
              <br>
              <br>
              _____________________________________ 
              <br>
              <br>
              Nombre y firma autoriza
          </th>
      </tr>
  </table>
</div>


    
</body>
<style type="text/css">
body{
  position: absolute;
  margin-top: 30px;
  font-size: 16.5px;
  z-index: 1;
}
@page{
  margin-top: 0mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  margin-right: 10mm;
}
.encabezado{
position: relative;
margin-top: -30px;
z-index: 0;
}
.cuerpo{
  position: relative;
}
h6{
  font-weight: normal;
  font-style: normal;
  font-size: 16px; 
}
td{
  font-weight: normal;
  font-style: normal;
  font-size: 12px; 
}

</style>
</html>
{% block extra_js %}

{% endblock extra_js %}