{% extends "inventario/dispositivo/base_detail.html" %}

{% block info_dispositivo %}
<div >
  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
      <a href="{%url 'hdd_edit' triage=object.triage %}" class="btn btn-block btn-warning">Editar</a>
    </div>
  </div>
</div>
    <tr>
        <th>Puerto</th>
        <td>{{ object.puerto|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Capacidad</th>
        <td>{{ object.ram|default_if_none:"" }} {{ object.ram_medida|default_if_none:"" }}</td>
    </tr>
{% endblock info_dispositivo %}
