{% extends "base/base.html" %}
{% load staticfiles widget_tweaks %}

{% block page_title %}
<title>Entradas al Kardex</title>
{% endblock page_title %}

{% block content %}
<section class="content-header">
	<h1>Entrada del Kardex</h1>
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-8 col-md-offset-2">
				<div class="nav-tabs-custom">
					<!-- pestañas -->
					<ul class="nav nav-tabs nav-justified">
						<li class="active">
							<a href="#nueva-entrada" data-toggle="tab"><i class="fa fa-sign-in"></i> Nueva entrada</a>
						</li>
						<li>
							<a href="#buscar-entrada" data-toggle="tab"><i class="fa fa-search"></i> Buscar entrada</a>
						</li>
						<li>
							<a href="#listar-entrada" data-toggle="tab"><i class="fa fa-list"></i> Listar entradas</a>
						</li>
					</ul>
					<!-- /pestañas -->

					<div class="tab-content">
						<!-- panel de creación -->
						<div class="tab-pane active" id="nueva-entrada">
							<form action="{{ action }}" method="post">
								{% csrf_token %}
								<table class="table table-hover table-condensed">
									{% for field in form %}
									<tr>
										<td>{{ field.label_tag }}</td>
										<td>{{ field|add_class:"form-control" }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td></td>
										<td><button class="btn btn-primary btn-block">Guardar</button></td>
									</tr>
								</table>
							</form>
						</div>
						<!-- /panel de creación -->

						<!-- panel de búsqueda -->
						<div class="tab-pane" id="buscar-entrada">
							<form id="entrada-buscar-form" action="{% url 'entrada_api_list' %}">
								<div class="input-group input-group-sm">
									<input type="number" min="1" class="form-control" id="entrada-id">
									<span class="input-group-btn">
										<input type="submit" class="btn btn-info btn-flat" value="Buscar">
									</span>
								</div>
							</form>

							{% if pendientes_list.count > 0 %}
							<h4 class="box-title">Pendientes</h4>
							<ul class="nav nav-pills nav-stacked">
							{% for entrada_pendiente in pendientes_list %}
								<li>
									<a href="{{ entrada_pendiente.get_absolute_url }}">
										Entrada {{ entrada_pendiente.id }}
										<span class="pull-right text-red"><i class="fa fa-calendar"></i> {{ entrada_pendiente.fecha|date:"Y-m-d" }}</span>
									</a>
								</li>
							{% endfor %}
							</ul>
							{% endif %}
						</div>
						<!-- /panel de búsqueda -->

						<!-- panel para listado de entradas -->
						<div class="tab-pane" id="listar-entrada">
							<form id="filter-form" action="{% url 'entrada_api_list' %}">
								{{ filter_form.as_p }}
								<input type="submit" class="btn btn-success" value="Buscar">
							</form>

							<table class="table table-hover" id="tabla-entradas">
								<thead>
									<tr>
										<th>ID</th>
										<th>Fecha</th>
										<th>Proveedor</th>
										<th>Factura</th>
										<th>Precio</th>
									</tr>
								</thead>
								<tbody id="tbody-entradas"></tbody>
							</table>
						</div>
						<!-- /panel para listado de entradas -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}


{% block extra_js %}
<script src="{% static "js/pdfmake.min.js" %}"></script>
<script src="{% static "js/vfs_fonts.js" %}"></script>
<script src="{% static "js/extrajs/kardex.js" %}"></script>
<script>
	EntradaCreate.init();
</script>
{% endblock extra_js %}
