{% extends "base/base.html" %}
{% load staticfiles widget_tweaks %}

{% block page_title %}
<title>Entradas</title>
{% endblock page_title %}
{% block content %}

<section class="content-header">
	<h1>Entrada del Kardex</h1>
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-8 col-md-offset-2">
				
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Entrada</h3>
						<div class="box-tools pull-right">
							<form id="entrada-buscar-form" action="{% url 'entrada_api_list' %}">
								<div class="has-feedback">
									<input type="number" name="id" class="form-control input-xs" placeholder="Buscar...">
									<span class="fa fa-search form-control-feedback"></span>
								</div>
							</form>
						</div>
					</div>

					<div class="box-body">
						<form action="" method="post">
							<table class="table table-condensed table-hover">
								{% csrf_token %}
								{% for field in form %}
									<tr>
										<td>{{ field.label_tag }}</td>
										<td>{{ field|add_class:"form-control" }}</td>
									</tr>
								{% endfor %}

								<tr>
									<td></td>
									<td>
										<button class="btn btn-primary btn-block">
											Guardar
										</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>


		
	</div>

</section>



{% endblock content %}


{% block extra_js %}
<script src="{% static "js/pdfmake.min.js" %}"></script>
<script src="{% static "js/vfs_fonts.js" %}"></script>
<script src="{% static "js/extrajs/kardex.js" %}"></script>
<script>
	EntradaCreate.init();
</script>
{% endblock extra_js %}
