{% extends "base/base.html" %}
{% load widget_tweaks %}

{% block page_title %}
<title>Proveedores</title>
{% endblock page_title %}

{% block content %}

<section class="content-header">
	<h1>Crear Proveedor</h1>
</section>

<section class="content">
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a href="#ingreso" data-toggle="tab"><i class="fa fa-sign-in"></i> Crear Proveedor</a></li>
			<li><a href="#listado" data-toggle="tab"><i class="fa fa-list"></i> Lista de proveedores</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="ingreso">
				<div class="box box-info">
					<div class="box-title">
						<h1>Nuevo proveedor</h1>
					</div>
					<div class="box-body">
						<form action="{{action}}" method="POST">
							{% csrf_token %}
							<table class="table table-hover">
								{% for field in form %}
								<tr>
									<td>{{ field.label }}</td>
									<td>{{ field|add_class:"form-control"}}</td>
								</tr>
								{% endfor %}
								<tr>
									<td></td>
									<td>
										<input type="submit" class="btn btn-primary" value="Guardar">
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="listado">
				<div class="box box-info">
					<div class="box-header">
						<div class="box-title">Listado de Proveedores</div>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-datatables table-bordered table-hover">
								<thead>
									<tr>
										<th>Id</th>
										<th>Nombre</th>
										<th>Tipo de Proveedor</th>
										<th>Dirección</th>
										<th>Teléfono</th>
									</tr>
								</thead>
								<tbody>
									{% for att in lista %}
										<tr>
											<td> {{att.id}} </td>
											<td> {{att.nombre}} </td>
											<td> {{att.tipo_de_proveedor}} </td>
											<td> {{att.direccion}} </td>
											<td> {{att.telefono}} </td>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>Id</th>
										<th>Nombre</th>
										<th>Tipo de Proveedor</th>
										<th>Dirección</th>
										<th>Teléfono</th>
									</tr>
								</tfoot>

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}