{% extends "inventario/dispositivo/base_detail.html" %}

{% block info_dispositivo %}
    <tr>
        <th>Sistema operativo</th>
        <td>{{ object.so_id|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Almacenamiento</th>
        <td>{{ object.almanecamiento|default_if_none:"" }} {{ object.medida_almacenamiento|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Pulgadas</th>
        <td>{{ object.pulgadas }}</td>
    </tr>
    <tr>
        <th>Procesador</th>
        <td>{{ object.procesador|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>RAM</th>
        <td>{{ object.ram|default_if_none:"" }} {{ object.ram_medida|default_if_none:"" }}</td>
    </tr>
    <tr>
      <th>QR</th>
      <td><img src="{{object.codigo_qr.url}}" class="img-thumbnail" alt=""></td>
    </tr>


{% endblock info_dispositivo %}
