{% extends "inventario/dispositivo/base_detail.html" %}

{% block info_dispositivo %}
<div >
  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
      <a href="{%url 'tablet_edit' triage=object.triage %}" class="btn btn-block btn-warning">Editar</a>
    </div>
  </div>
</div>
    <tr>
        <th>Sistema operativo</th>
        <td>{{ object.so_id|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Almacenamiento</th>
        <td>{{ object.almanecamiento|default_if_none:"" }} {{ object.medida_almacenamiento|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Pulgadas</th>
        <td>{{ object.pulgadas }}</td>
    </tr>
    <tr>
        <th>Procesador</th>
        <td>{{ object.procesador|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>RAM</th>
        <td>{{ object.ram|default_if_none:"" }} {{ object.ram_medida|default_if_none:"" }}</td>
    </tr>
{% endblock info_dispositivo %}
