{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Constancia Desecho</title>
  <meta charset="utf-8" />
</head>
<body>
  <div class="encabezado">
    <img src="{% static 'image/Logo_Funsepa-01.png' %}" width="150" height="150" />
  </div>

<div class="fecha">
  <td>
  Guatemala, {{desechosalida.fecha}}
  <br/>
  <br/>
  <img src="{{object.codigo_qr.url}}" class="img-thumbnail" alt="{{object.codigo_qr}}" width="60">
  </td>
</div>

<div class="presentacion">
</div>
<br />
<p class="saludo">
Por este medio se hace constar que se esta entregando a la empresa {{desechosalida.empresa}} lo siguiente en desecho:
</p>

<center>
<table class="cuerpo">
  {% if desechodetalles|length > 0  %}
  <thead>
    <tr>
      <th width="34%">Entrada</th>
      <th>Cantidad</th>
      <th width="33%">Dispositivo</th>
    </tr>
  </thead>
  <tbody>
    {% for desecho in desechodetalles %}
      <tr>
        <td style="text-align: center;">
            {{desecho.entrada_detalle.entrada}}
        </td>
        <td style="border:none; border-width: 1px;border-color:gray;text-align:center">
          {{desecho.cantidad}}
        </td>
        <td style="text-align: left;">
          {{desecho.entrada_detalle.descripcion}}
        </td>
      </tr>
      {% endfor %}
    {% endif %}
  </tbody>
  <tfoot>
    <table class="cuerpo">
      {% if desechodispositivo or desechosolicitud %}
      
        {% if desechodetalles|length > 0  %}
          <thead>
          <tr>
            <th colspan="3" style="text-align: center; padding-top: 15px;">Dispositivos con Triage</th>
          </tr>
          <tr>
        {% endif %} 
            <th style="text-align: center;">Triage</th>
            <th style="text-align: center;">Tipo</th>
            <th style="text-align: center;">Motivo de Desecho</th>
          </tr>
          </thead>
          
      <tbody>
        {% for dispositivos in desechodispositivo  %}
          <tr>
            <td style="border:none; border-width: 1px;border-color:gray; text-align:center;">
              {{dispositivos.dispositivo}}
            </td>
            <td style="text-align: center;">
              {{dispositivos.dispositivo.tipo}}
            </td>
            <td></td>
          </tr>
        {% endfor %}
        
        {% for dispositivos in desechosolicitud  %}
          <tr>
            <td style="border:none; border-width: 1px;border-color:gray; text-align:center;">
              {{dispositivos.dispositivo}}
            </td>
            <td style="text-align: center;">
              {{dispositivos.dispositivo.tipo}}
            </td>            
            <td style="text-align: left; padding-left: 10px;">
              {{dispositivos.motivo}}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      {% endif %}
      <tfoot>
        <tr>
          <td></td>
          <td>
            <b>Dispositivos Totales:</b>
          </td>
          <td style="border:none; border-width: 1px;border-color:gray">
              {{cantidad_total}}
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <b>Monto Total:</b>
          </td>
          <td style="border:none; border-width: 1px;border-color:gray">
             Q {{desechosalida.precio_total}}
          </td>
        </tr>
         <tr>
        <td></td>
         <td>
            <b>Peso Total:</b>
          </td>
          <td style="border:none; border-width: 1px;border-color:gray">
              {{object.peso |default_if_none:0}} lbs
          </td>
        </tr>
        <tr>
          <td>
            <b>Observaciones:</b>
          </td>
        </tr>
      </tfoot>
    </table>
  </tfoot>
</table>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      {{desechosalida.observaciones|linebreaks}}
    </div>
    <div class="col">
    </div>
  </div>
</div>
</center>
<br />
<br />
<br />
<br />

<table width="100%">
  <thead>
    <tr>
      <th style="text-align: center;">
        _______________________
        <br />
        Técnico Encargado
      </th>
      <th style="text-align: center;">
        _________________
        <br />
        Esdin Pacaja
      </th>
      <th style="text-align: center;">
        __________________
        <br/>
        Técnico Senior
      </th>
    </tr>
  </thead>
</table>
<br/><br/><br/>
<table width="50%">
  <thead>
    <tr>
      <td>Empresa de Desecho: </td>
      <td>{{desechosalida.empresa.nombre}}</td>
    </tr>
    <tr>
      <td>Encargado: </td>
      <td>{{desechosalida.empresa.encargado}}</td>
    </tr>
    <tr>
      <td>DPI: </td>
      <td>{{desechosalida.empresa.dpi}}</td>
    </tr>
    <tr>
      <td>Firma: </td>
      <td><br/>__________________</td>
    </tr>
  </thead>
</table>
  <footer>
    <center>
      Centro de Reacondicionamiento Guatemala.
    <br/>
    14 Ave 19-50 Z.4 de Mixco Condado el Naranjo OfiBodegas San Sebastian No.36
  <br/>
  Telefono 2435-2612 / 2435-2739
    </center>
  </footer>
</body>

<style type="text/css">
body{
  font-size: 12px;
  font-family: tahoma;
}
@page{
  margin-top: 0mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  margin-right: 10mm;
}
.encabezado{
  margin-top: 50px;
}
.fecha{
  text-align: right;
  margin-top: -40px;
}
.presentacion{
  margin-top: 40px;
  margin-left: 7mm;
}

th {
  text-align: center !important;
}

.cuerpo tr:nth-child(odd) {
  border:none;
  border-width: 1px;
  border-color:gray;
  align-items: center;
}
.cuerpo td:nth-child(odd) {
  border:none;
  border-width: 1px;
  border-color:gray;
  align-items: center;
}
.saludo {
  margin-left: 7mm;
}
.despedida{
  margin-left: 7mm;
}
footer{
  color: darkblue;
  margin-top: 75px;
}
</style>

{% block extra_js %}
<script>
window.onload= function () { window.print()}
</script>
{% endblock extra_js %}
</html>