{%load staticfiles %}
<!DOCTYPE html>
<html>
<head><title>
Constancia Desecho
  </title>
</head>
  <meta charset="utf-8" />
<body>
  <div class="encabezado">
    <img src="{% static "image/Logo_Funsepa-01.png" %}" width="150" height="150" />

  </div>

<div class="fecha">
  <td>
  Guatemala, {{desechosalida.fecha}}
  </br>
  </br>
  <img src="{{object.codigo_qr.url}}" class="img-thumbnail" alt="{{object.codigo_qr}}" width="60">
  </td>
</div>
<!--Saludo y presentacion-->
<div class="presentacion">
</div>
<br />
<p class="saludo">
Por este medio se hace constar que se esta entregando a la empresa {{desechosalida.empresa}} lo siguiente en desecho:
</p>
<center>
<table class="cuerpo">
  <thead>
    <tr>
      <th width="34%">
      <center>
        Entrada</center>
      </th>
      <th >
      <center>Cantidad</center>
      </th>
      <th width="33%">
      <center>Dispositivo</center>
      </th>
    </tr>
  </thead>
  <tbody>
    {%for desecho in desechodetalles%}
      <tr>
        <td>
          <center>
            {{desecho.entrada_detalle.entrada}}
          </center>
        </td>
        <td style="border:none; border-width: 1px;border-color:gray;text-align:center">
          {{desecho.cantidad}}
        </td>
        <td>
          {{desecho.entrada_detalle.descripcion}}
        </td>
      </tr>
      {%endfor%}
  </tbody>
  <tfoot>
    <table class="cuerpo">
      {% if desechodispositivo  %}
      <thead>
        <tr>
          <th>
            <center>
              Varias
            </br/>
              Entradas
            </center>
          </th>
          <th width="34%" style="border:none; border-width: 1px;border-color:gray">

          </th>
          <th width="34%" style="border:none; border-width: 1px;border-color:gray">

          </th>
        </tr>
      </thead>
      <tbody>
        {% for dispositivos in desechodispositivo  %}
          <tr>
            <td>
            </td>
            <td style="border:none; border-width: 1px;border-color:gray;text-align:center;">
            {{  dispositivos.dispositivo}}
            </td>
            <td>
              {{dispositivos.dispositivo.tipo}}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      {% endif %}
      <tfoot>
        <tr>
          <td>
            <b>Total:</b>
          </td>
          <td style="border:none; border-width: 1px;border-color:gray">
              {{cantidad_total}}
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <b>Monto Total:</b>
          </td>
          <td style="border:none; border-width: 1px;border-color:gray">
             Q {{desechosalida.precio_total}}
          </td>
          <td></td>
        </tr>
         <tr>
         <td>
            <b>Peso Total:</b>
          </td>
          <td style="border:none; border-width: 1px;border-color:gray">
              {{object.peso |default_if_none:0}} lbs
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <b>Observaciones:</b>
          </td>
        </tr>
      </tfoot>
    </table>
  </tfoot>
</table>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      {{desechosalida.observaciones|linebreaks}}
    </div>
    <div class="col">
    </div>
  </div>
</div>
</center>
<br />
<br />
<br />
<br />
<table  width="100%">
  <thead>
    <tr>
      <th>
        _______________________
        <br />
        Técnico Encargado
      </th>
      <th>
        _________________
        <br />
        Esdin Pacaja
      </th>
      <th>
        __________________
        <br/>
        Técnico Senior
      </th>
    </tr>
  </thead>
</table>
<br/><br/><br/>
<table width="50%">
  <thead>
    <tr>
      <td>Empresa de Desecho: </td>
      <td>{{desechosalida.empresa.nombre}}</td>
    </tr>
    <tr>
      <td>Encargado: </td>
      <td>{{desechosalida.empresa.encargado}}</td>
    </tr>
    <tr>
      <td>DPI: </td>
      <td>{{desechosalida.empresa.dpi}}</td>
    </tr>
    <tr>
      <td>Firma: </td>
      <td><br/>__________________</td>
    </tr>
  </thead>
</table>
  <footer>
    <center>
      Centro de Reacondicionamiento Guatemala.
    </br>
    14 Ave 19-50 Z.4 de Mixco Condado el Naranjo OfiBodegas San Sebastian No.36
  </br>
  Telefono 2435-2612 / 2435-2739
    </center>
  </footer>
</body>
<!--INICIA EL CSS-->
<style type="text/css">

body{
  font-size: 12px;
  font-family: tahoma;
}
@page{
  margin-top: 0mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  margin-right: 10mm;

}
.encabezado{
margin-top: 50px;
}
.fecha{
  text-align: right;
  margin-top: -40px;
}
.presentacion{
  margin-top: 40px;
  margin-left: 7mm;
}
.cuerpo tr:nth-child(odd) {
  border:none;
  border-width: 1px;
  border-color:gray;
  align-items: center;
  text-align: center;
}
.cuerpo td:nth-child(odd) {
border:none;
border-width: 1px;
border-color:gray;
text-align: center;
align-items: center;
}

.cuerpo tr:nth-child(even) {

}style="border:none; border-width: 1px;border-color:gray
.saludostyle="border:none; border-width: 1px;border-color:gray{
  margin-left: 7mm;
}

.despedida{
  margin-left: 7mm;
}
footer{
  color: darkblue;
  margin-top: 75px;
}
</style>
{% block extra_js %}
<script>
window.onload= function () { window.print();window.close();   }
</script>
{% endblock extra_js %}
